{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de consultas</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-60">
    
                <caption class="tbl-capt">Listado de pacientes con citas pendientes
                    {% if is_paginated %}
                        <span> - Página {{ page_obj.number }} de {{ paginator.num_pages }}</span>
                    {% endif %}
                </caption>
    
                <tr>
                    <th class="tbl-th-izq">Nombre</th>
                    <th class="tbl-th-izq">Cita</th>
                    <th class="tbl-th">Acciones</th>  
                </tr>

                <!-- NO devuelve ningun paciente avisa y cierra la tabla -->
                {% if not citas %}
                    <tr>
                        <th colspan="3" class="field-errors">
                            <span>Ningún paciente con esos datos</span>
                        </th>
                    </tr>
    
                <!-- SI devuelve algun paciente muestra y cierra la tabla -->
                {% else %}
    
                    {% for cita in citas %}
                        <tr>
                            {% if head_order == 'A' %}
                                <td>{{ cita.fk_Paciente.familyname }}, {{ cita.fk_Paciente.name }}</td>
                            {% else %}
                               <td>{{ cita.fk_Paciente.name }} {{ cita.fk_Paciente.familyname }}</td>
                            {% endif %}
                            <td>
                                {{ cita.appdate|date:'d/b/Y' }} a las {{cita.apptime|date:'H:i'}}
                            </td>
                            <!-- Enlaces a crear consulta desde cita -->
                            <td>
                                <div class="div-fechas">
                                    <a href="{% url 'create-desdecita-consultas' cita.idCita %}"><input type="button" class="btn btn-info btn-sm" value="Crear consulta"></a>
                                </div>
                            </td>
                       </tr>
                    {% endfor %}
    
                  {% endif %}
    
            </table>
    
            {% include 'paginador.html' %}
    
            <!-- Botones de acción -->
            <div class="div-botones">
                <a href="{% url 'menu-consultas' %}"><input type="button" class="btn btn-info" value="Menu de consultas"></a>
            </div>
    
        </section>

    {% endblock content %}
