{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    {% block content %}

        <section class="sect-home-page-menu">

        {% load static %}

        <table class="tbl-forms table-striped tbl-general tbl-85">

	    	<caption class="tbl-capt">
                <div class="div-contexto-centro">
                    <span>Citas para el</span>
                </div>
                <div class="div-fechas">
                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.month_back_url %}">Mes ant.</a>
                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.week_back_url %}">Semana ant.</a>
                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.yesterday_url %}">Día ant.</a>

                    <span>{{ ctx_dias.current_date|date:"l, d/F/Y" }}</span>

                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.tomorrow_url %}">Día sig.</a>
                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.week_forw_url %}">Semana sig.</a>
                    <a class="link-yellow" href="{% url 'citas-dia' idPaciente ctx_dias.month_forw_url %}">Mes sig.</a>
                </div>
                {% if is_paginated %}
                    <div class="div-contexto-centro">
                        <span> - Página {{ page_obj.number }}</span>
                    </div>
                {% endif %}
            </caption>

	    	<tr>
                <th class="tbl-th">Hora</th>
                <th class="tbl-th-izq">Paciente</th>
                <th class="tbl-th-izq">Citado/a por</th>
                <th class="tbl-th">Consultorio</th>
                <th class="tbl-th-izq tbl-td-15">Notas</th>
                <th class="tbl-th-izq">Estado</th>
                <th class="tbl-th" colspan="2">Acciones</th>
            </tr>

            {% if not citas %}
	    	    <tr>
                    <th colspan="9" class="field-errors">
                        <span>Ninguna cita pendiente</span>
                    </th>
                </tr>

            <!-- SI devuelve alguna cita muestra y cierra la tabla -->
            {% else %}

                {% for cita in citas %}
               		<tr>
		       		    <td class="tbl-td-centro">{{ cita.apptime|date:'H:i' }}</td>
			       	    <td>{{ cita.fk_Paciente }}</td>
                        <td>{{ cita.fk_Profesional|default_if_none:"Indet." }}</td>
                        <td class="tbl-td-centro">{{ cita.fk_Consultorio|default_if_none:"Indet." }}</td>
                        <td class="tbl-td-15">{{ cita.notes }}</td>

                        <!-- Estatus -->
                        {% if cita.status == 'pen' %}
                            <td>
                                <button type="button" class="btn btn-warning btn-sm">P</button>
                                <a href="{% url 'modif-citas' cita.idCita 'att' %}">
                                    <button type="button" class="btn btn-outline-info btn-sm">A</button>
                                </a>
                            </td>
                        {% elif cita.status == 'att' %}
                            <td>
                                <a href="{% url 'modif-citas' cita.idCita 'pen' %}">
                                    <button type="button" class="btn btn-outline-warning btn-sm">P</button>
                                </a>
                                <button type="button" class="btn btn-info btn-sm">A</button>
                                <a href="{% url 'modif-citas' cita.idCita 'exm' %}">
                                    <button type="button" class="btn btn-outline-success btn-sm">E</button>
                                </a>
                            </td>
                        {% elif cita.status == 'exm' %}
                            <td>                                
                                <button type="button" class="btn btn-outline-warning btn-sm">P</button>
                                <button type="button" class="btn btn-outline-info btn-sm">A</button>
                                <a href="{% url 'id-consultas-citas' cita.idCita %}">
                                    <button type="button" class="btn btn-success btn-sm">E</button>
                                </a>
                            </td>
                        {% elif cita.status == 'cnl' %}
                            <td colspan="3">
                                <button type="button" class="btn btn-danger btn-sm">C</button>
                            </td>
                        {% endif %}

                        <!-- Acciones -->
                        {% if cita.status == 'pen' or cita.status == 'att' %}
                            <td class="tbl-td"><a href="{% url 'cancel-citas' cita.idCita %}"><input type="button" class="btn btn-danger btn-sm" value="Cancelar"></a></td>
                            <td class="tbl-td"><a href="{% url 'edit-citas' cita.idCita %}"><input type="button" class="btn btn-info btn-sm" value="Editar"></a></td>
                        {% elif cita.status == 'exm' %}
                            <td class="tbl-td" colspan="2">
                                <a href="{% url 'id-consultas-citas' cita.idCita %}">
                                    <input type="button" class="btn btn-success btn-sm" value="Ficha de consulta">
                                </a>
                            </td>
                        {% endif %}                        
                    </tr>
                {% endfor %}

      		{% endif%}

        </table>

        {% include 'paginador.html' %}

    	<!-- Botones de acción -->
        <div class="div-botones">
            <a href="{% url 'citas-dia' 0 0 %}"><input type="button" class="btn btn-info" value="Citas para hoy"></a>
            <a href="{% url 'citas-dia-grid' idPaciente ctx_dias.current_date_url %}"><input type="button" class="btn btn-info" value="Modo rejilla"></a>
            <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menu de citas"></a>
            <a href="{% url 'citas-dia-grid' idPaciente ctx_dias.current_date_url %}"><input type="button" class="btn btn-danger" value="Nueva cita"></a>
        </div>

        </section>

    {% endblock content %}
