{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        <section class="sect-home-page-menu">

        {% load static %}

        <!-- Tabla mostrando pacientes -->
        <table class="tbl-general tbl-forms tbl-85 table-striped">

            <!-- Texto con el contenido -->
	    	<caption class="tbl-capt">Paciente: {{ paciente }} - Listado completo de citas
                {% if is_paginated %}
                    <span> - Página {{ page_obj.number }}</span>
                {% endif %}
            </caption>

            <!-- Cabecera de la tabla -->
	    	<tr>
        		<th class="tbl-th">Día</th>
        		<th class="tbl-th">Hora</th>
		       	<th class="tbl-th-izq">Citado/a por</th>
        		<th class="tbl-th">Consultorio</th>
                <th class="tbl-th-izq tbl-td-20">Notas</th>
        		<th class="tbl-th-izq">Estado</th>
                <th class="tbl-th" colspan="2">Acciones</th>
            </tr>

            <!-- NO devuelve ningun paciente avisa y cierra la tabla -->
            {% if not citas %}
	    	    <tr>
                    <th colspan="8" class="field-errors">
                        <span>Ninguna cita encontrada</span>
                    </th>
                </tr>

            <!-- SI devuelve alguna cita muestra y cierra la tabla -->
            {% else %}

                <!-- Fecha de hoy -->
                {% now 'd_m_Y' as hoy %}
                <!-- Devuelve las citas en un querySet llamado cita_list (nombre del modelo_list -->
                {% for cita in citas %}
               		<tr>
		    	        <td class="tbl-td-centro">{{ cita.appdate|date:'d/M/Y' }}
                        <td class="tbl-td-centro">{{ cita.apptime|date:'H:i' }}</td>
                        <td>{{ cita.fk_Profesional|default_if_none:'Indet.' }}</td>
                        <td class="tbl-td-centro">{{ cita.fk_Consultorio|default_if_none:'Indet.' }}</td>

                        <!-- Notas -->
                        <td>{{ cita.notes }}</td>

                        <!-- Estatus -->
                        {% if cita.status == "Pendiente" %}
                            <td>
                                <button type="button" class="btn btn-warning btn-sm">P</button>
                                <a href="{% url 'modif-citas' cita.idCita 'Acude' %}">
                                    <button type="button" class="btn btn-outline-info btn-sm">A</button>
                                </a>
                            </td>
                        {% elif cita.status == "Acude" %}
                            <td>
                                <a href="{% url 'modif-citas' cita.idCita 'Pendiente' %}">
                                    <button type="button" class="btn btn-outline-warning btn-sm">P</button>
                                </a>
                                <button type="button" class="btn btn-info btn-sm">A</button>
                                <a href="{% url 'modif-citas' cita.idCita 'Pasa a consulta' %}">
                                    <button type="button" class="btn btn-outline-success btn-sm">C</button>
                                </a>
                            </td>
                        {% elif cita.status == "Pasa a consulta" %}
                            <td>
                                <button type="button" class="btn btn-outline-warning btn-sm">P</button>
                                <button type="button" class="btn btn-outline-info btn-sm">A</button>
                                <a href="{% url 'id-consultas-citas' cita.idCita %}">
                                    <button type="button" class="btn btn-success btn-sm">C</button>
                                </a>
                            </td>
                        {% elif cita.status == "Cancelada" %}
                            <td colspan="3">
                                <button type="button" class="btn btn-danger btn-sm">C</button>
                            </td>
                        {% endif %}

                         <!-- Acciones -->
                         {% if cita.status == "Pendiente" or cita.status == "Acude" %}
                         <td class="tbl-td"><a href="{% url 'cancel-citas' cita.idCita %}"><input type="button" class="btn btn-danger btn-sm" value="Cancelar"></a></td>
                         <td class="tbl-td"><a href="{% url 'edit-citas' cita.idCita %}"><input type="button" class="btn btn-info btn-sm" value="Editar"></a></td>
                     {% elif cita.status == "Pasa a consulta" %}
                         <td class="tbl-td" colspan="2"><a href="{% url 'id-consultas-citas' cita.idCita %}"><input type="button" class="btn btn-success btn-sm" value="Ficha de consulta"></a></td>
                     {% endif %}                        
                </tr>
                {% endfor %}

      		{% endif%}

        </table>

        <!-- Incluye PAGINADOR-->
        {% include 'paginador_citas.html' %}

    	<!-- Botones de acción -->
        <div class="div-botones">
            <a href="{% url 'citas-paciente-hastafecha' idPaciente hasta_fecha %}"><input type="button" class="btn btn-info" value="Citas anteriores"></a>
            <a href="{% url 'citas-paciente-desdefecha' idPaciente desde_fecha %}"><input type="button" class="btn btn-info" value="Citas pendientes"></a>
            <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menu de citas"></a>
            <a href="{% url 'citas-dia-grid' idPaciente fecha_cita %}"><input type="button" class="btn btn-danger" value="Nueva cita"></a>
        </div>

        </section>

    {% endblock content %}
