{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    {% block content %}

        <section class="sect-home-page-menu">

        {% load static %}

        <table class="tbl-forms table-striped tbl-general tbl-100">

	    	<caption class="tbl-capt">
                <div class="div-contexto-centro">
                    <span>Citas para la semana del</span>
                </div>
                <div class="div-fechas">
                    <a class="link-red" href="{% url 'citas-semana' %}">Semana ant.</a>

                    <span>{{ ctx_fromweekday|date:"l, d/F/Y" }} al {{ ctx_toweekday|date:"l, d/F/Y" }}</span>

                    <a class="link-red" href="{% url 'citas-semana' %}">Semana sig.</a>
                </div>
            </caption>


            {{ grid.weekgrid|safe }}

        </table>

    	<!-- Botones de acción -->
        <div class="div-botones">
            <a href="{% url 'citas-hoy' %}"><input type="button" class="btn btn-info" value="Citas para hoy"></a>
            <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menu de citas"></a>
        </div>

        </section>

    {% endblock content %}
