{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Tabla principal -->
        <section class="sect-home-page-menu">

           <!-- Comprueba si la cita ya ha pasado  de fecha -->
           {% if old_app %}

                <table class="tbl-general tbl-forms tbl-30 table-striped">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Modificación de cita</caption>

                    <tr>
                        <td>Paciente:</td><td>{{citas.fk_Paciente }}</td>
                    </tr>
                    <tr>
                        <td>Fecha cita:</td><td>{{citas.appdate }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-centro grid-naranja" colspan="2">La cita seleccionada ya ha pasado.</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-centro grid-rojo" colspan="2">No es posible la modificación.</td>
                    </tr>

                </table>

                <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{{ next|safe }}"><input type="button" class="btn btn-info" value="Volver"></a>
                    <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menú de citas"></a>
                </div>

            {% else %}
                
            <!-- Formularion de modificar cita -->
	            <form method="POST">

                    {% csrf_token %}
               
                    <!-- Campos de  citas -->
                    <table class="tbl-general tbl-forms tbl-30 table-striped">

                        <!-- Texto con el contenido -->
                        <caption class="tbl-capt">Editar notas de la cita</caption>
        
                        <!-- Errores en el form -->
                        {% include 'errors_citas.html' %}
        
                        <!-- Datos -->
                        <tr>
                            <th class="tbl-th" colspan="2">
                                Solo es posible modificar las notas.
                                Si desea modificar otros datos, cancele la cita y genere una nueva.
                            </th>
                        </tr>

                        {% if citas %}
                            <tr>
                                <td class="tbl-td-30">Id Cita:</td><td>{{citas.idCita }}</td>
                            </tr>
                            <tr>
                                <td>Paciente:</td><td>{{citas.fk_Paciente }}</td>
                            </tr>
                            <tr>
                                <td>Fecha cita:</td><td>{{citas.appdate }}</td>
                            </tr>
                            <tr>
                                <td>Hora cita:</td><td>{{citas.apptime }}</td>
                            </tr>
                            <tr>
                                <td>Notas:</td><td>{{ form.notes }}</td>
                            </tr>
                        {% endif %}
        
                    </table>

                    <!-- Botones de acción -->
                    <div class="div-botones">
		            	<input type="submit" class="btn btn-danger" value="Confirmar modificación">
                        <input type="hidden" name="next" value={{ next }}>
                        <a href="{{ next|safe }}"><input type="button" class="btn btn-info" value="Volver"></a>
                        <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menú de citas"></a>
                    </div>

                </form>

            {% endif %}                 

        </section>

    {% endblock content %}