{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de citas</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

           	<!-- Informa de que no se pueden crear datos -->
            <table class="tbl-general tbl-forms tbl-40 table-striped">
                <!-- Texto con el contenido -->
                <caption class="tbl-capt">ERROR DE PRIVILEGIOS</caption>
                <tr>
    	        	<td class="tbl-td-centro">Este usuario no puede modificar datos de las citas.</td>
    		    </tr>
            </table>

		    <!-- Botones de acción -->
            <div class="div-botones">
                <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Volver"></a>
            </div>

        </section>

    {% endblock %}
