{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de citas</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-40">
                <caption class="tbl-capt">ERROR DE PRIVILEGIOS</caption>
                <tr>
    	        	<td class="tbl-td-centro">Este usuario no puede modificar datos de las citas.</td>
    		    </tr>
            </table>

		    <!-- Botones de acción -->
            <div class="div-botones">
                <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Volver"></a>
            </div>

        </section>

    {% endblock content %}
