{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Tabka principal con imágenes -->
        <section class="sect-home-page-menu">

           <!-- Comprueba si la cita ya ha pasado  de fecha -->
           {% if old_app %}

                <table class="tbl-general tbl-forms tbl-30 table-striped">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Modificación de cita</caption>
                    <tr>
                        <td>Paciente:</td><td>{{citas.fk_Paciente }}</td>
                    </tr>
                    <tr>
                        <td>Fecha cita:</td><td>{{citas.appdate }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-centro grid-naranja" colspan="2">La cita seleccionada ya ha pasado.</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-centro grid-rojo" colspan="2">No es posible la modificación.</td>
                    </tr>

                </table>

                <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{{ next|safe }}"><input type="button" class="btn btn-info" value="Volver"></a>
                    <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menú de citas"></a>
                </div>

            {% else %}

                <!-- Formularion de modificar cita -->
	            <form method="post">

    	    	    {% csrf_token %}

             	    <!-- Campos de  citas -->
                    <table class="tbl-general tbl-forms tbl-30 table-striped">

                        <!-- Texto con el contenido -->
                        <caption class="tbl-capt">Confirme la modificación del estado</caption>

                        <!-- Errores en el form -->
                        {% include 'errors_citas.html' %}

                        <!-- Datos -->
                        {% if citas %}
                            <tr>
                                <td>Id Cita:</td><td>{{ citas.idCita }}</td>
                            </tr>
                            <tr>
                                <td>Paciente:</td><td>{{ citas.fk_Paciente }}</td>
                            </tr>
                            <tr>
                                <td>Fecha cita:</td><td>{{ citas.appdate }}</td>
                            </tr>
                            <tr>
                                <td>Hora cita:</td><td>{{ citas.apptime }}</td>
                            </tr>
                            <tr>
                                <td>Nuevo estado:</td>
                                    {% if status == 'Pendiente' %}
                                        <td class="grid-naranja tbl-td-centro">
                                    {% elif status == 'Acude' %}
                                        <td class="grid-azul tbl-td-centro">
                                    {% else %}
                                        <td class="grid-verde tbl-td-centro">
                                    {% endif %}                                     
                                    {{ status }}
                                </td>
                            </tr>
                        {% endif %}

                    </table>

                	<!-- Botones de acción -->
                    <div class="div-botones">
		            	<input type="submit" class="btn btn-danger" value="Confirmar modificación">
                        <input type="hidden" name="next" value={{ next }}>
                        <a href="{{ next|safe }}"><input type="button" class="btn btn-info" value="Volver"></a>
                        <a href="{% url 'menu-citas' %}"><input type="button" class="btn btn-info" value="Menú de citas"></a>
                    </div>
                    
                </form>

            {% endif %}

        </section>

    {% endblock content %}
