{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Taba principal con imágenes -->
        <section class="sect-home-page-menu">
        
            <table class="tbl-general tbl-forms tbl-40 table-striped">

                <!-- Texto con el contenido -->
                <caption class="tbl-capt">Procesamiento de citas</caption>
                
                {% if numregs > 0 %}
                    <tr>
                        <th class="field-errors">
                            Se va a proceder a BORRAR de la base de datos las citas ya pasadas, o canceladas, que no han generado ninguna ficha de consulta.
                        </th>
                    </tr>
                    <tr>
                        <td class="tbl-td-centro">Número de citas para borrar: {{ numregs }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th class="tbl-td-centro">{{ mensaje }}</th>
                    </tr>
                {% endif %}

            </table>

            <!-- Botones de acción -->
            <form action ="{% url 'pasadas-canceladas-citas' %}" method="POST">
                {% csrf_token %}
                <div class="div-botones">
                    {% if numregs > 0 %}                    
                        <input type="submit" class="btn btn-danger" value="Confirmar borrado">
                    {% endif %}
                    <a href="{% url 'procesar-citas' %}">
                        <button type="button" class="btn btn-info">Volver</button>
                    </a>
                </div>
            </form>

        </section>

    {% endblock content %}
