<!-- ************************ -->
<!--   init_info_clinica_tpl  -->
<!-- ************************ -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de citas</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <div class="div-cabecera-menu">Gestión de Citas</div>

            <br/>

            <div class="div-clinica">

                <div>
                    <a href="{% url 'recordatorios-citas' %}">
                        <button style="width: 480px;" type="button" class="btn btn-info btn-shadow">
                            Recordatorio de citas<br/>(Ultima vez: {{ last_notif }})<br/>
                            {% if with_errors %}
                                <span class="grid-smalltxt not-avail">CON ERRORES</span>
                            {% endif %}                        
                        </button>
                    </a>
                <div>
                    <a href="{% url 'pasadas-canceladas-citas' %}">
                        <button style="width: 480px;" type="button" class="btn btn-info btn-shadow">Procesar citas pasadas o canceladas<br/>(Ultima vez: {{ last_proc }})</button>
                    </a>
                </div>

            </div>

        </section>

    {% endblock %}
