{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de citas</title>

    {% endblock title %}

    {% block JS %}

    <script type="text/javascript">
    
        function infoProc() {
            // Informa de que se está procesando el correo
            document.getElementById('id_infoProc').innerHTML = "PROCESANDO NOTIFICACIONES...";
        }

        function hideButton() {
            // Pone invisible el boton de notificar
            document.getElementById('notifyButton').style.display = "none";
        }

    </script> 

    {% endblock JS %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">
        
            <form method="GET">
    
                <table class="tbl-forms tbl-general tbl-70">

                    <caption id="id_infoProc" class="tbl-capt">Número de citas pendientes de notificar</caption>
                
                    <tr>
                        <th class="tbl-th tbl-td-50">Citas a notificar por e-mail: {{ numregsemail }}</th>
                        <th class="tbl-th tbl-td-50">Citas a notificar por teléfono: {{ numregstelef }}</th>
                    </tr>
                    <tr>
                        <td>Notificar citas para dentro de {{ form.day.as_widget }} días.</td>
                        <td rowspan="2" class="tbl-td-centro">
                            <input type="submit" class="btn btn-info" value="Recalcular número de citas"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Notificar también para los días intermedios: {{ form.untilday.as_widget }}</td>
                    </tr>

                </table>

            </form>

            <form method="POST">

                {% csrf_token %}

                <!-- Botones de acción -->
                <div class="div-botones">
                    {% if numregsemail > 0 or numregstelef > 0 %}
                        <input onclick="infoProc()" id="notifyButton" type="submit" class="btn btn-danger" value="Notificar citas"/>
                        <input type="hidden" name="day" value="{{ form.day.value }}" />
                        <input type="hidden" name="untilday" value="{{ form.untilday.value }}" />
                    {% endif %}
                    <a href="{% url 'procesar-citas' %}">
                        <button type="button" class="btn btn-info">Volver</button>
                    </a>
                </div>

            </form>

        </section>

    {% endblock content %}
