/*---------- PDF STYLE CSS ----------*/

@media print {
  
/*---------- GENERALES ----------*/


body { /*-- Color de fondo --*/
    background-color: rgb(255, 255, 255);
}

/* --- Documentos --- */

@page {
    size: A4 portrait;
    margin: 2.5cm;
}

/*---------- TABLAS GENERAL ----------*/

.tbl-logo { /* --- General de las tablas ---*/
    margin-left: 0px;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    padding: 5px;
    border-style: none;
    line-height: 0.7em;
}

.tbl-general { /* --- General de las tablas ---*/
    margin-left: 0px;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11px;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

td { /* --- Padding por defecto ---*/
    padding: 5px;
}

.tr-top { /* --- Padding por defecto ---*/
    background-color:rgb(219, 174, 107);
}

.tr-border { /* --- Padding por defecto ---*/
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: darkgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    background-color:rgb(235, 205, 164);
}

/* --- Tablas de distinta anchura ---*/

.tbl-100 { width: 100%; }
.tbl-85 { width: 85%; }

/* Distintas anchuras de TD */
.tbl-td-50 { width: 50%; }
.tbl-td-25 { width: 25%; }

}