/*---------- STYLE CSS ----------*/

/*---------- GENERALES ----------*/

body { /*-- COlor de fondo --*/
    background-color: rgb(201, 223, 233);

}

/*---------- BASE.HTML ----------*/

.sect-home-page-header { /* --- Fondo de la seccion de cabecera ---*/
	background-color: rgba(36, 139, 170, 0.856);
	padding: 5px;
    vertical-align: middle;
    border-top-style: solid;
    border-top-color: grey;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 89, 36);
}

.img-logo-size { /*-- Tamaño del logo de la clinica --*/
    width: 600px;
    max-height: 140px;
    object-fit: fill;

}

.sect-home-page-menu { /* --- Fondo de la seccion de menu ---*/
	background-color: rgba(67, 165, 168, 0.555);
	padding: 30px;
	vertical-align: middle;
}

.div-home-page-nav { /* --- Fondo de la seccion de navegación ---*/
    display: flex;
    justify-content: center;
    align-content: center;
	background-color: rgb(67, 155, 163);
	padding: 10px;
    border-top-style: solid;
    border-top-color: rgb(224, 89, 36);
    color: #FF0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-weight: bold;

}

.link-nav { /* --- Color de los enlaces del nav ---*/
    color: rgb(255, 255, 255);
}

.div-home-page-footer {
    display: flex;
    background-color: rgb(201, 223, 233);
	padding: 10px;
    justify-content: space-between;
    align-content: center;
    font-variant: small-caps;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small;
    font-weight: bold;

}

.link-red { /* --- Color de los enlaces de las tablas ---*/
    color: yellow;
}

.link-cancelar { /* --- Color de los enlaces de cancelar ---*/
    color: red;
}

addr { /* --- Estilo de addr del pie de pagina ---*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small;
    font-weight: bold;
    text-align: left;
    color: black;
    line-height: 20px;
}

.info-base { /* --- Formato de fecha y hora y otras informaciones --- */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: normal;
    text-align: left;
    color:  ghostwhite;
    font-weight: bold;
    line-height: 20px;
}

.info-base-der { /* --- Formato de fecha y hora y otras informaciones --- */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: normal;
    text-align: right;
    padding-right: 20px;
    color:  ghostwhite;
    font-weight: bold;
    line-height: 20px;
}

.div-contexto { /* --- Datos del contexto: Clinica, Hora, usuario --*/
    font-family: Tahoma;
    text-align: justify;
    text-shadow: grey;
    font-weight: bold;
    font-size: large;
}
.div-contexto-centro { /* --- Datos del contexto: Clinica, Hora, usuario --*/
    text-align: center;
}

.div-contexto-der { /* --- Datos del contexto: Clinica, Hora, usuario --*/
    text-align: right;
}

.div-fechas { /* --- Contenedor para poner las fechas de citas en las cabeceras --- */
    display: flex;
    justify-content: space-between;
}

.div-clinica {/*--- Div de los botones del menu de clinica ---*/
    display: flex;
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.img-paciente { /*--- Imagen del paciente ---*/
    float: right;
    overflow: auto;

}

.div-filtro-equip {/* --- Filtrado de tipos --- */
    display: flex;
    justify-content: space-between;

}

.div-filtro-equip-der { /* --- Filtrado de tipos --- */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    font-size: 0.75em;
}

.div-control-stock {
    display: flex;
    justify-content: flex-start;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50%
}

/*---------- DIVS DE MENUS ----------*/
.div-cabecera-menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-variant: small-caps;
    color: yellow;
    padding: 10px;
    background-color: grey;

}

.div-cuerpo-menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-variant: small-caps;
    color: yellow;

}

/*---------- REJILLA DE HORARIOS ----------*/

.grid-time-color { /*--- Grid de horas ---*/
    background-color:rgb(212, 205, 169);
    border-right-style: solid;
    border-right-width: 1px;
    border-color:grey;
}

.grid-info-color { /*--- Grid de horas ---*/
    background-color:rgb(83, 57, 5);
    border-right-style: solid;
    border-right-width: 1px;
    border-color:grey;
    font-weight: bold;
    color: yellow;
}

.grid-info2-color { /*--- Grid de horas ---*/
    border-right-style: solid;
    border-right-width: 1px;
    border-color:grey;
    font-weight: bold;
    color: rgb(240, 64, 20);
}

.grid-tachado { /*--- Texto tachado ---*/
    text-decoration: line-through;
    color: rgb(240, 64, 20);
}

.grid-rojo { /*--- Texto rojo ---*/
    background-color: red;
    color: white;
    padding-top: 3px;
    padding-left: 18px;
    padding-right: 18px;
}

.grid-naranja-estado { /*--- Texto rojo ---*/
    background-color: orange;
    color: black;
    text-align: center;
}

.grid-verde { /*--- Texto verde ---*/
    background-color: darkgreen;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-azul { /*--- Texto azul ---*/
    background-color: rgb(51, 136, 185);
    color: white;
    padding-top: 3px;
    padding-left: 17px;
    padding-right: 17px;
}

.grid-verde { /*--- Texto verde ---*/
    background-color:darkgreen;
    color: white;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-naranja { /*--- Texto naranja ---*/
    background-color: orange;
    color: black;
    padding-top: 2px;
    padding-left: 29px;
    padding-right: 29px;
}

.tr-time-color { /*--- Grid de horas ---*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:grey
}

.grid-smalltxt { /*--- Texto pequeño para el grid ---*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    font-variant: normal;
    font-weight: bold;
    padding-left: 10px;
}

/*---------- BOTONES ----------*/

.div-botones { /*--- Div de botones a pie de tabla alineado al centro ---*/
    margin:auto;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.div-paginador { /*--- Div de botones del paginador alineado al centro ---*/
    margin:auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}

.btn-shadow { /* --- Sombra de los botones ---*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/*---------- BARRA DE PROGRESO ----------*/
.stock-bar {
    margin: auto;
    width: 80px;
    height: 20px;
 
}

/*---------- TABLAS GENERAL ----------*/

.tbl-general { /* --- General de las tablas ---*/
	margin-left: auto;
	margin-right: auto;
	font-family: serif;
    font-variant: small-caps;
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
}

.tbl-in-tbl { /* --- Tabla dentro de otra tabla ---*/
    border-style: none;
    width: 100%;
}

.tbl-sinborde { /* --- General de las tablas sin borde ---*/
    border-style: none;
}

.tbl-forms { /* --- Color de las filas de los formularios ---*/
    background-color: ghostwhite;
}

/*---------- TABLAS: Seccion Headers ----------*/

.tbl-capt { /* --- Caption header general --- */
    vertical-align: middle;
    text-align: center;
    caption-side: top;
    font-weight: bold;
    color: yellow;
    padding: 10px;
    background-color: grey;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color:grey
}

.tbl-th { /* --- TH header general --- */
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    background-color:rgb(230, 219, 209);
}

.tbl-th-filter { /* Header de filtrado */
    vertical-align: middle;
    text-align: left;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 4px;
    color:yellow;
    background-color:rgb(104, 74, 50);

}

.tbl-th-dark { /* --- TH header general --- */
    vertical-align: middle;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px;
    background-color:rgb(82, 82, 82);
}

.tbl-th-izq { /* --- TH header izquierda --- */
    vertical-align: middle;
    text-align: left;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px;
    background-color:rgb(230, 219, 209);
}

/*---------- TABLAS: Seccion Celdas de datos  ----------*/

td { /* --- Padding por defecto ---*/
    padding: 5px;
}

.td-marco-foto {/*--- Marco de foto ---*/
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    min-height: 240px;
    max-height: 244px;
    min-width: 120px;
    max-width: 124px;
    background-color:rgb(230, 219, 209);
    font-weight: bold;
}

/* Distintas alineaciones de TD */
.tbl-td-centro { text-align: center; vertical-align: middle; }
.tbl-td-just {  text-align: justify; vertical-align: middle; }
.tbl-td-der { text-align: right; vertical-align: middle; }

/* --- Tablas de distinta anchura ---*/
.tbl-100 { width: 100%; }
.tbl-85 { width: 85%; }
.tbl-70 { width: 70%; }
.tbl-60 { width: 60%; }
.tbl-50 { width: 50%; }
.tbl-40 { width: 40%; }
.tbl-35 { width: 35%; }
.tbl-30 { width: 30%; }
.tbl-25 { width: 25%; }

/* Distintas anchuras de TD */
.tbl-td-80 { width: 80%; }
.tbl-td-70 { width: 70%; }
.tbl-td-60 { width: 60%; }
.tbl-td-50 { width: 50%; }
.tbl-td-40 { width: 40%; }
.tbl-td-30 { width: 30%; }
.tbl-td-25 { width: 25%; }
.tbl-td-20 { width: 20%; }
.tbl-td-15 { width: 15%; }
.tbl-td-10 { width: 10%; }
.tbl-td-5 { width: 5%; }

/*---------- FORMULARIOS ----------*/

.avail {
    background-color:darkgreen;
    color: white;
    padding: 5px;
    font-weight: bold;

}

.not-avail {
    background-color: darkred;
    color: white;
    padding: 5px;
    font-weight: bold;

}

/*---------- ERRORES ----------*/

ul { /* --- Lista unordered de mensajes de error --- */
    margin-left: auto;
	margin-right: auto;
	font-family: serif;
    font-variant: small-caps;
    padding: 5px;
    color: white;
    background-color: rgb(224, 89, 36);
}

.field-errors { /* --- Errores en los campos de los modelos --- */
    text-align: center;
    font-family: serif;
    font-size: small;
    font-variant: normal;
    padding: 5px;
    color: white;
    background-color: rgb(224, 89, 36);
}
