<!-- ***************************** -->
<!--   create_pacients_successtpl  -->
<!-- ***************************** -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

             	<!-- Tabla del paciente -->
                <table class="tbl-general tbl-forms tbl-85 table-striped">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Paciente creado correctamente</caption>

                </table>

    	    	<!-- Botones -->
                <div class="div-botones">
                    <a href="{% url 'create-pacientes' %}"><input type="button" class="btn btn-info" value="Crear nuevo paciente"></a>
                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
                </div>

        </section>

    {% endblock %}
