{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock %}

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo paciente -->
            <!-- enctype="multipart/form-data se usa para poder subir imagenes binarias -->
	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

             	<!-- Tabla del paciente -->
                <table class="tbl-forms table-striped tbl-general tbl-60">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Nuevo/a paciente</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_pacientes.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="6">Datos personales</th>
                    </tr>
                    <tr>
						<td class="tbl-td-10">DNI:</td><td>{{ form.dni.as_widget }}</td>
        			    <td class="tbl-td-10">Nombre:</td><td>{{ form.name.as_widget }}</td>
            		    <td class="tbl-td-10">Apellidos:</td><td>{{ form.familyname.as_widget }}</td>
                    </tr>
	            	<tr>
			    	    <td class="tbl-td-10">F.nacim.:</td><td>{{ form.birthdate.as_widget }}</td>
                        <td class="tbl-td-10">Sexo:</td><td>{{ form.sex.as_widget }}</td>
						<td class="tbl-td-10">Ocupación:</td><td>{{ form.job.as_widget }}</td>
      				</tr>
	    		    <tr>
		    		    <td class="tbl-td-10">Foto:</td><td colspan="5">{{ form.picturefile.as_widget }}</td>
   			    	</tr>
                    <!-- Domicilio -->
		       	    <tr>
	    	    	    <th class="tbl-th" colspan="6">Domicilio</th>
                    </tr>
    	    		<tr>
	    	    		<td class="tbl-td-10">Dirección:</td><td colspan="3">{{ form.address.as_widget }}</td>
						<td class="tbl-td-10">Localidad:</td><td>{{ form.city.as_widget }}</td>
                    </tr>
                    <tr>
						<td class="tbl-td-10">C.P.:</td><td>{{ form.postcode.as_widget }}</td>
		    	    	<td class="tbl-td-10">Provincia:</td><td>{{ form.province.as_widget }}</td>
 			    	    <td class="tbl-td-10">País:</td><td >{{ form.country.as_widget }}</td>
       				</tr>
                    <!-- Datos de contacto -->
	    	   	    <tr>
	        		    <th class="tbl-th" colspan="6">Datos de contacto</th>
                    </tr>
    	    		<tr>
		    	    	<td class="tbl-td-10">Teléf.1:</td class="tbl-td-10"><td>{{ form.phone1.as_widget }}</td>
						<td class="tbl-td-10">Teléf.2:</td class="tbl-td-10"><td>{{ form.phone2.as_widget }}</td>
                        <td class="tbl-td-10">E-mail:</td><td>{{ form.email.as_widget }}</td>
       				</tr>
        			<tr>
	        			<td class="tbl-td-10" colspan="2">Notifica cita:&nbsp;&nbsp;&nbsp;{{ form.notifyappoint.as_widget }} ............</td>
						<td class="tbl-td-10">por:</td><td colspan="2">{{ form.notifyvia.as_widget }}</td>
   			    	</tr>
                    <!-- Notas -->
	    	   	    <tr>
	        		    <th class="tbl-th" colspan="6">Notas</th>
                    </tr>
	    		    <tr>
    				    <td colspan="6">{{ form.notes.as_widget }}</td>
    			    </tr>

                </table>

    	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-info" value="Aceptar">
	    	    	<a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
				</div>

	        </form>

        </section>

    {% endblock %}
