<!-- ********************* -->
<!--   edit_pacientes_tpl  -->
<!-- ********************* -->


{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de pacientes</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        <section class="sect-home-page-menu">

            {% load static %}

   	        <!-- Formularios de entrada de ID y DNI -->
            <table class="tbl-general tbl-forms tbl-40 table-striped">

                <!-- Texto con el contenido -->
            	<caption class="tbl-capt">Criterios de eliminación</caption>

                <!-- Si hay mensajes pendientes -->
                {% for message in messages %}
                    <th colspan="2" style="text-align: center; font-family: serif; font-variant: small-caps; padding: 5px; color: white; background-color: rgb(224, 89, 36);">
                        {{ message }}
                    </th>
                {% endfor %}

                    <!-- Form ID y DNI -->
                    <tr>
                        <form method="post">
            	    	    {% csrf_token %}
                            <td class="tbl-td-der">{{ form.id.label }}</td>
                            <td>{{ form.id.as_widget }}</td>
                            <td ><input type="submit" class="btn btn-info" value=" Buscar ID"></td>
                        </form>
                    </tr>
                    <tr>
                        <form method="post">
	    	                {% csrf_token %}
                            <td class="tbl-td-der">{{ form.dni.label }}</td>
                            <td>{{ form.dni.as_widget }}</td>
                            <td><input type="submit" class="btn btn-info" value=" Buscar DNI"></td>
                        </form>
                    </tr>
                </table>

    	    <!-- Botones -->
            <div class="div-botones">
            	<a href={% url 'menu-pacientes' %}><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            </div>

        </section>

    {% endblock %}
