{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo paciente -->
            <!-- enctype="multipart/form-data se usa para poder subir imagenes binarias -->
	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

                <!-- Tabla del paciente -->
                <table class="tbl-forms table-striped tbl-general tbl-60">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Editar paciente - ID: {{ idPaciente }}</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_pacientes.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th">Datos personales</th>
                    </tr>
                    <tr>
        			    <td>
							Nombre: {{ form.name.as_widget }}&nbsp;
							Apellidos: {{ form.familyname.as_widget }}
						</td>
                    </tr>
	            	<tr>
			    	    <td>
							Fecha nacim.: {{ form.birthdate.as_widget }}&nbsp;
                        	Sexo: {{ form.sex.as_widget }}&nbsp;
							Ocupación: {{ form.job.as_widget }}
						</td>							
                    </tr>
	    		    <tr>
	    		    	<td class="tbl-td-centro">Foto: {{ form.picturefile.as_widget }}</td>
   			    	</tr>
                    <!-- Domicilio -->
		       	    <tr>
	    	    	    <th class="tbl-th">Domicilio</th>
                    </tr>
    	    		<tr>
	    	    		<td>
							Dirección: {{ form.address.as_widget }}&nbsp;
							Localidad: {{ form.city.as_widget }}
						</td>
                    </tr>
                    <tr>
                        <td>
							Código postal: {{ form.postcode.as_widget }}&nbsp;
							Provincia: {{ form.province.as_widget }}&nbsp;
							País: {{ form.country.as_widget }}
						</td>
       				</tr>
                    <!-- Datos de contacto -->
	    	   	    <tr>
	        		    <th class="tbl-th">Datos de contacto</th>
                    </tr>
    	    		<tr>
	    	    		<td>
							E-mail: {{ form.email }}&nbsp;
							Teléfono 1: {{ form.phone1 }}&nbsp;
							Teléfono 2: {{ form.phone2 }}							
						</td>
       				</tr>
        			<tr>
	        			<td class="tbl-td-centro">
							Notificar cita: {{ form.notifyappoint }}&nbsp;
							Notificar vía: {{ form.notifyvia }}
						</td>
    			    </tr>
	    	   	    <tr>
	        		    <th class="tbl-th">Notas</th>
                    </tr>
	    		    <tr>
    				    <td class="tbl-td-centro">{{ form.notes }}</td>
    			    </tr>

                </table>

     	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-info" value="Aceptar">
	    	    	<a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
				</div>

	        </form>

        </section>

    {% endblock %}
