{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de pacientes</title>

    {% endblock %}

    {% block content %}

        <section class="sect-home-page-menu">

            {% load static %}

   	        <!-- Formularios de entrada de ID y DNI -->
            <table class="tbl-general tbl-forms tbl-40 table-striped">

                <!-- Texto con el contenido -->
            	<caption class="tbl-capt">Criterios de edición</caption>

                    <!-- Si hay mensajes pendientes -->
                    {% for message in messages %}
                        <th colspan="2" style="text-align: center; font-family: serif; font-variant: small-caps; padding: 5px; color: white; background-color: rgb(224, 89, 36);">
                            {{ message }}
                        </th>
                    {% endfor %}

                    <!-- Form ID y DNI -->
                    <tr>
                        <form method="POST">
            	    	    {% csrf_token %}
                            <td class="tbl-td">ID Paciente:</td>
                            <td>{{ form.idpaciente.as_widget }}</td>
                            <td ><input type="submit" class="btn btn-info" value=" Buscar ID"></td>
                        </form>
                    </tr>
                    <tr>
                        <form method="POST">
	    	                {% csrf_token %}
                            <td class="tbl-td">DNI:</td>
                            <td>{{ form.dni.as_widget }}</td>
                            <td><input type="submit" class="btn btn-info" value=" Buscar DNI"></td>
                        </form>
                    </tr>
                    
                </table>

    	    <!-- Botones -->
            <div class="div-botones">
                <a href="{% url 'select-pacientes' %}"><input type="button" class="btn btn-info" value="Búsqueda ampliada"></a>
            	<a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            </div>

        </section>

    {% endblock %}
