{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

           		<!-- Tabla del paciente -->
                <table class="tbl-forms table-striped tbl-general tbl-60">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Paciente : {{ pacientes.name }} {{ pacientes.familyname }} </caption>

                    <tr>

                        <td class="tbl-td-80">
                            <table class="tbl-in-tbl">

        		                <!-- Datos personales -->
            		            <tr>
		            	            <th class="tbl-th-izq">Nombre</th>
			                        <th class="tbl-td-60 tbl-th-izq">Apellidos</th>
            		            </tr>
	            	            <tr>
			                        <td>{{ pacientes.name }}</td>
   				                    <td>{{ pacientes.familyname }}</td>
        	    	            </tr>
            		            <tr>
                                    <th class="tbl-th-izq">Edad</th>
       				                <th class="tbl-th-izq">Fecha de nacimiento</th>
            		            </tr>
	            	            <tr>
                                    <!-- Calculado en la view y leida del contexto -->
                                    <td class="tbl-td">{{ age }}</td>
    			                    <td class="tbl-td">{{ pacientes.birthdate|date:'d/F/Y' }}</td>
        	    	            </tr>
            		            <tr>
	            		            <th class="tbl-th-izq">DNI</th>
                                    <th class="tbl-th-izq">Sexo</th>
            		            </tr>
	            	            <tr>
		            	            <td class="tbl-td">{{ pacientes.dni }}</td>
                                    <td class="tbl-td">{{ pacientes.sex }}</td>
        	    	            </tr>

                            </table>
                        </td>
                        {% if pacientes.picturefile.url != '' %}
                            <td><img class="img-paciente" height="240px" width="180px" src="{{ pacientes.picturefile.url }}" /></td>
                        {% else %}
                            <td class="td-marco-foto">Sin foto</td>
                        {% endif %}
                    </tr>

	            </table>

          		<!-- Domicilio -->
                <table class="tbl-forms table-striped tbl-general tbl-60">

                    <caption class="tbl-capt">Domicilio</caption>

    		        <tr>
    		    	    <td class="tbl-td tbl-td-25">Dirección:</td>
                        <td class="tbl-td">{{ pacientes.address }}</td>
                        <!-- Si hay un archivo de foto lo muestra -->
                    </tr>
                    <tr>
                    	<td class="tbl-td">CP-Localidad:</td>
                        <td class="tbl-td">{{pacientes.postcode}}-{{ pacientes.city }}</td>
                    </tr>
                    <tr>
		    	        <td class="tbl-td">Provincia:</td>
                        <td class="tbl-td">{{ pacientes.province }}</td>
                    </tr>
                    <tr>
        		    	<td class="tbl-td">País:</td>
                        <td class="tbl-td">{{ pacientes.country }}</td>
            		</tr>
        	    </table>

               	<!-- Datos de contacto -->
	            <table class="tbl-forms table-striped tbl-general tbl-60">

                    <caption class="tbl-capt">Datos de contacto</caption>

                    <tr>
        		    	<td class="tbl-td tbl-td-25">E-mail:</td>
                        <td class="tbl-td">{{ pacientes.email }}</td>
                    </tr>
                    <tr>
    	    	    	<td class="tbl-td">Tel.1 / Tel.2:</td>
                        <td class="tbl-td">{{ pacientes.phone1 }} / {{ pacientes.phone2|default_if_none:'Indet.' }}</td>
                    </tr>
                    <tr>
	            		<td class="tbl-td">Notificar citas / Vía:</td>
                        <td class="tbl-td">{{ pacientes.notifyappoint|yesno:'Si,No,Indet.' }} / {{ pacientes.notifyvia }}</td>
    			    </tr>
		        </table>

           		<!-- Otros datos -->
	            <table class="tbl-forms table-striped tbl-general tbl-60">

                    <caption class="tbl-capt">Otros datos</caption>

                	<tr>
	    	        	<td class="tbl-td tbl-td-25">Ocupación</td>
	        		    <td class="tbl-td">{{ pacientes.job }}</td>
                    </tr>
                    <tr>
    	    	    	<td class="tbl-td">Notas</td>
	    	    	    <td class="tbl-td">{{ pacientes.notes }}</td>
                    </tr>
        	    </table>

 		        <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{% url 'edit-id-pacientes' pacientes.idPaciente %}"><input type="button" class="btn btn-info" value="Editar"></a>
                    <a href="{% url 'citas-paciente-desdefecha' pacientes.idPaciente desde_fecha %}"><input type="button" class="btn btn-info" value="Citas"></a>
                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Consultas"></a>
                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
                </div>

        </section>

    {% endblock content %}
