<!-- ******************* -->
<!--   id_pacientes_tpl  -->
<!-- ******************* -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">


       		<!-- Devuelve los datos del paciente en varias tablas -->
        	{% for paciente in paciente_list %}


           		<!-- Tabla del paciente -->
                <table class="tbl-general tbl-forms tbl-70 table-striped">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Paciente : {{ paciente.name }} {{ paciente.familyname }} </caption>

                    <tr>
                        {% if paciente.picturefile.url != '' %}
                            <td><img width=240px src="{{ paciente.picturefile.url }}" /></td>
                        {% endif %}
                        <td>
                            <table class="tbl-in-tbl tbl-100">

        		                <!-- Datos personales -->
            		            <tr>
	            		            <th class="tbl-th">DNI</th>
		            	            <th class="tbl-th-izq">Nombre</th>
			                        <th class="tbl-th-izq">Apellidos</th>
            		            </tr>
	            	            <tr>
		            	            <td class="tbl-td-centro">{{ paciente.dni }}</td>
			                        <td>{{ paciente.name }}</td>
   				                    <td>{{ paciente.familyname }}</td>
        	    	            </tr>
            		            <tr>
       				                <th class="tbl-th">Fecha de nacimiento</th>
                                    <th class="tbl-th">Edad</th>
                                    <th class="tbl-th">Sexo</th>
            		            </tr>
	            	            <tr>
    			                    <td class="tbl-td-centro">{{ paciente.birthdate|date:'d/F/Y' }}</td>
                                    <!-- Calculado en la view y leida del contexto -->
                                    <td class="tbl-td-centro">{{ age }}</td>
                                    <td class="tbl-td-centro">{{ paciente.sex }}</td>
        	    	            </tr>

                            </table>
                        </td>
                    </tr>

	            </table>

          		<!-- Domicilio -->
                <table class="tbl-general tbl-forms tbl-70 table-striped">

                    <caption class="tbl-capt">Domicilio</caption>

    		        <tr>
    		    	    <td class="tbl-td tbl-td-25">Dirección:</td>
                        <td class="tbl-td">{{ paciente.address }}</td>
                        <!-- Si hay un archivo de foto lo muestra -->
                    </tr>
                    <tr>
                    	<td class="tbl-td">CP-Localidad:</td>
                        <td class="tbl-td">{{paciente.postcode}}-{{ paciente.city }}</td>
                    </tr>
                    <tr>
		    	        <td class="tbl-td">Provincia:</td>
                        <td class="tbl-td">{{ paciente.province }}</td>
                    </tr>
                    <tr>
        		    	<td class="tbl-td">País:</td>
                        <td class="tbl-td">{{ paciente.country }}</td>
            		</tr>
        	    </table>

               	<!-- Datos de contacto -->
	            <table class="tbl-general tbl-forms tbl-70 table-striped">

                    <caption class="tbl-capt">Datos de contacto</caption>

                    <tr>
        		    	<td class="tbl-td tbl-td-25">E-mail:</td>
                        <td class="tbl-td">{{ paciente.email }}</td>
                    </tr>
                    <tr>
    	    	    	<td class="tbl-td">Teléfono 1 / Teléfono 2:</td>
                        <td class="tbl-td">{{ paciente.phone1 }} / {{ paciente.phone2 }}</td>
                    </tr>
                    <tr>
	            		<td class="tbl-td">Notificar citas / Vía:</td>
                        <td class="tbl-td">{{ paciente.notifyappoint }} / {{ paciente.notifyvia }}</td>
    			    </tr>
		        </table>

           		<!-- Otros datos -->
	            <table class="tbl-general tbl-forms tbl-70 table-striped">

                    <caption class="tbl-capt">Otros datos</caption>

                	<tr>
	    	        	<td class="tbl-td tbl-td-25">Ocupación</td>
	        		    <td class="tbl-td">{{ paciente.job }}</td>
                    </tr>
                    <tr>
    	    	    	<td class="tbl-td">Notas</td>
	    	    	    <td class="tbl-td">{{ paciente.notes }}</td>
                    </tr>
                    <tr>
        		    	<td class="tbl-td">Archivo foto</td>
                        <td class="tbl-td">{{ paciente.picturefile }}</td>
   			        </tr>
        	    </table>

                <!-- Datos de control -->
                <table class="tbl-general tbl-70 table-striped table-dark">

                    <caption class="tbl-capt">Datos de control</caption>

        	        <tr>
            		    <th class="tbl-td-centro">Id Paciente</th>
	            	    <th class="tbl-td-centro">Fecha registro</th>
    	        		<th class="tbl-td-centro">Ultima modificación</th>
	    	        	<th class="tbl-td-centro">Modificado por</th>
        	        </tr>
                    <tr>
	        	   	    <td class="tbl-td-centro">{{ paciente.idPaciente }}</td>
    	    	       	<td class="tbl-td-centro">{{ paciente.firstupdated|date:'d/m/Y H:i' }}</td>
        	    	   	<td class="tbl-td-centro">{{ paciente.lastupdated|date:'d/m/Y H:i' }}</td>
	        	       	<td class="tbl-td-centro">{{ paciente.modifiedby }}</td>
    		        </tr>
	    	    </table>


		        <!-- Botones de acción -->
                <div class="div-botones">
                    <a href={% url 'edit-id-pacientes' paciente.idPaciente %}><input type="button" class="btn btn-info" value="Editar"></a>
                    <a href={% url 'citas-paciente-desdefecha' paciente.idPaciente desde_fecha %}><input type="button" class="btn btn-info" value="Citas"></a>
                    <a href={% url 'menu-pacientes' %}><input type="button" class="btn btn-info" value="Consultas"></a>
                    <a href={% url 'menu-pacientes' %}><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
                </div>

    		{% endfor %}

        </section>

    {% endblock %}
