{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de pacientes</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-60">

                <caption class="tbl-capt">Paciente : {{ pacientes.name }} {{ pacientes.familyname }} </caption>

                <tr>

                    <td class="tbl-td-80">
                        <table class="tbl-in-tbl">
         		            <tr>
                   	            <th class="tbl-th-izq">Nombre</th>
		                        <th class="tbl-td-60 tbl-th-izq">Apellidos</th>
            		        </tr>
	            	        <tr>
			                    <td>{{ pacientes.name }}</td>
   				                <td>{{ pacientes.familyname }}</td>
        	    	        </tr>
            		        <tr>
                                <th class="tbl-th-izq">Edad</th>
       				            <th class="tbl-th-izq">Fecha de nacimiento</th>
            		        </tr>
	            	        <tr>
                                <td>{{ age }}</td>
    			                <td>{{ pacientes.birthdate|date:'d/F/Y' }}</td>
        	    	        </tr>
         		            <tr>
            		            <th class="tbl-th-izq">DNI</th>
                                <th class="tbl-th-izq">Sexo</th>
         		            </tr>
               	            <tr>
	               	            <td>{{ pacientes.dni }}</td>
                                <td>{{ pacientes.sex }}</td>
               	            </tr>

                        </table>
                    </td>
                    {% if pacientes.picturefile.url != '' %}
                        <td><img class="img-paciente" height="240px" width="180px" src="{{ pacientes.picturefile.url }}" /></td>
                    {% else %}
                        <td class="td-marco-foto">Sin foto</td>
                    {% endif %}
                </tr>

	        </table>

            <table class="tbl-forms table-striped tbl-general tbl-60">

                <caption class="tbl-capt">Domicilio</caption>
    
       		        <tr>
        	    	    <td class="tbl-td-25">Dirección:</td>
                        <td colspan="3">{{ pacientes.address }}</td>
                    </tr>
                    <tr>
                    	<td>C.Postal:</td>
                        <td>{{pacientes.postcode}}</td>
                    	<td>Localidad:</td>
                        <td>{{ pacientes.city }}</td>
                    </tr>
                    <tr>
		    	        <td>Provincia:</td>
                        <td>{{ pacientes.province }}</td>
        		    	<td>País:</td>
                        <td>{{ pacientes.country }}</td>
            		</tr>
        
        	    </table>

	            <table class="tbl-forms table-striped tbl-general tbl-60">

                    <caption class="tbl-capt">Datos de contacto</caption>

                    <tr>
        		    	<td class="tbl-td-25">E-mail:</td>
                        <td>{{ pacientes.email }}</td>
	            		<td>Notificar citas / Vía:</td>
                        {% if pacientes.notifyappoint %}
                            <td class="avail">{{ pacientes.notifyappoint|yesno:'Si,No,Indet.' }} / {{ pacientes.notifyvia }}</td>
                        {% else %}
                            <td class="not-avail">{{ pacientes.notifyappoint|yesno:'Si,No,Indet.' }}</td>
                        {% endif %}                                               
                    </tr>
                    <tr>
    	    	    	<td>Teléfono 1:</td>
                        <td>{{ pacientes.phone1|default_if_none:'Indet.' }}</td>
    	    	    	<td>Teléfono 2:</td>
                        <td>{{ pacientes.phone2|default_if_none:'Indet.' }}</td>
                    </tr>
                    <tr>
    			    </tr>

		        </table>

	            <table class="tbl-forms table-striped tbl-general tbl-60">

                    <caption class="tbl-capt">Otros datos</caption>

                	<tr>
	    	        	<td class="tbl-td-25">Ocupación</td>
	        		    <td>{{ pacientes.job }}</td>
                    </tr>
                    <tr>
    	    	    	<td>Notas</td>
	    	    	    <td>{{ pacientes.notes }}</td>
                    </tr>

        	    </table>

 		        <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{% url 'edit-pacientes' pacientes.idPaciente %}"><input type="button" class="btn btn-info" value="Editar"></a>
                    <a href="{% url 'citas-paciente-desdefecha' pacientes.idPaciente desde_fecha %}"><input type="button" class="btn btn-info" value="Citas"></a>
                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Consultas"></a>
                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
                </div>

        </section>

    {% endblock content %}
