{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de pacientes</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-70">

	        	<caption class="tbl-capt">Listado de pacientes
                    {% if is_paginated %}
                        <span> - Página {{ page_obj.number }} de {{ paginator.num_pages }}</span>
                    {% endif %}
                </caption>

	    	    <tr>
    		        <th class="tbl-th">ID</th>
	    	        <th class="tbl-th">DNI</th>
               		<th class="tbl-th-izq">Nombre</th>
                    <th class="tbl-th tbl-td-15">Acciones</th>
                </tr>

                {% if not pacientes %}
	        	    <tr>
                        <th colspan="4" class="field-errors">
                            <span>Ningún paciente con esos datos</span>
                        </th>
                    </tr>

                {% else %}

                    {% for paciente in pacientes %}            
                   		<tr>
			           	    <td class="tbl-td-centro">{{ paciente.idPaciente }}</td>
                            <td class="tbl-td-centro">{{ paciente.dni }}</td>
        		   	    {% if head_order == 'fam' %}
	    	    	        <td>{{ paciente.familyname }}, {{ paciente.name }}</td>
		                {% else %}
    		    	   		<td>{{ paciente.name }} {{ paciente.familyname }}</td>
                        {% endif %}
                            <!-- Enlaces a abrir, edit y crear cita y consulta -->
                            <td>
                                <div class="div-fechas">
                                    <a href="{% url 'id-pacientes' paciente.idPaciente %}"><input type="button" class="btn btn-info btn-sm" value="Abrir"></a>&nbsp;
                                    <a href="{% url 'edit-pacientes' paciente.idPaciente %}"><input type="button" class="btn btn-info btn-sm" value="Editar"></a>&nbsp;
                                    <a href="{% url 'citas-paciente-desdefecha' paciente.idPaciente desde_fecha %}"><input type="button" class="btn btn-info btn-sm" value="Citas"></a>&nbsp;
                                    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info btn-sm" value="Consultas"></a>
                                </div>
                            </td>
                       </tr>
                    {% endfor %}

      		    {% endif %}

            </table>

            {% include 'paginador.html' %}

    	    <!-- Botones de acción -->
            <div class="div-botones">
		        <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            </div>

        </section>

    {% endblock content %}
