{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de pacientes</title>

    {% endblock title %}

    {% block content %}

    <section class="sect-home-page-menu">

        {% load static %}

        <form method="POST">

		    {% csrf_token %}

            <table class="tbl-forms table-striped tbl-general tbl-35">
        	    <caption class="tbl-capt">Selección para listado</caption>

                {% include 'errors_pacientes.html' %}

                <tr>
                    <td class="tbl-td-centro grid-smalltxt grid-info2-color" colspan="2">
                        Introduzca los criterios de búsqueda.<br/>
                        Se incluirán los registros que CONTENGAN la expresión introducida.
                    </td>
                </tr> 
                <tr>
                    <td class="tbl-td-der">DNI:</td>
                    <td>{{ form.dni.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td-der">Nombre:</td>
                    <td>{{ form.name.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td-der">Apellidos:</td>
                    <td>{{ form.familyname.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td-der">Ordenar por:</td>
                    <td>{{ form.orderby.as_widget }}</td>
                </tr>

            </table>

            <!-- Botones -->
            <div class="div-botones">
			    <input type="submit" class="btn btn-info" value="Enviar">
			    <a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            </div>

	    </form>

    </section>

    {% endblock content %}
