{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de pacientes</title>

    {% endblock title %}

    {% block content %}

        <section class="sect-home-page-menu">

            {% load static %}

            <table class="tbl-forms table-striped tbl-general tbl-35">

            	<caption class="tbl-capt">Selección para edición</caption>

                    {% for message in messages %}
                        <th colspan="2" class ="field-errors">
                            {{ message }}
                        </th>
                    {% endfor %}

                    <tr>
                        <form method="POST">
            	    	    {% csrf_token %}
                            <td class="tbl-td">ID Paciente:</td>
                            <td>{{ form.idpac.as_widget }}</td>
                            <td><input type="submit" class="btn btn-info" value=" Buscar ID"></td>
                        </form>
                    </tr>
                    <tr>
                        <form method="POST">
	    	                {% csrf_token %}
                            <td class="tbl-td">DNI:</td>
                            <td>{{ form.dni.as_widget }}</td>
                            <td><input type="submit" class="btn btn-info" value=" Buscar DNI"></td>
                        </form>
                    </tr>
                    
                </table>

    	    <!-- Botones -->
            <div class="div-botones">
                <a href="{% url 'select-pacientes' %}"><input type="button" class="btn btn-info" value="Búsqueda ampliada"></a>
            	<a href="{% url 'menu-pacientes' %}"><input type="button" class="btn btn-info" value="Menu de pacientes"></a>
            </div>

        </section>

    {% endblock content %}
