{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo equipamiento -->
	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

             	<!-- Tabla del profesional -->
                <table class="tbl-forms table-striped tbl-general tbl-35">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Completar datos (Usuario/a: {{ form.user_login.value }} - id: {{ user_id }})</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_profesionales.html' %}

                    <!-- Datos de acceso a django -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="6">Roles de acceso al sistema</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-10" colspan="2">Superusuario/a: {{ form.user_issuperuser.as_widget }}</td>
        			    <td class="tbl-td-10" colspan="2">Administrador/a: {{ form.user_isstaff.as_widget }}</td>
                        <td class="tbl-td-10" colspan="2">Está activo: {{ form.user_isactive.as_widget }}</td>
                    </tr>
                    <tr>
                        <td  class="tbl-td-centro grid-smalltxt grid-info2-color" colspan="6">
                            El nombre de usuario/a y el password no son editables.<br/>
                            Ser Superusuario/a implica ser también Administrador/a.<br/>
                            Desactive "Superusuario/a" para dar solo privilegios de Administrador/a.                            
                        </td>
                    </tr>
                    <!-- Datos personales -->
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos personales</th>
                    </tr>
                    <tr>
                        <td>Nombre:</td><td colspan="2">{{ form.fullname.as_widget }}</td>
                        <td>DNI:</td><td colspan="2">{{ form.dni.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos form</th>
                    </tr>
		   	        <tr>
                        <td>Num. Colegiado/a:</td><td colspan="2">{{ form.numcolegiado.as_widget }}</td>
                        <td>NIF:</td><td colspan="2">{{ form.nif.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td>Cargo:</td><td colspan="2">{{ form.position.as_widget }}</td>
                        <td>Departamento:</td><td colspan="2">{{ form.department.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td colspan="3">De alta:&nbsp;&nbsp;&nbsp;{{ form.currentavail.as_widget }}</td>
                        <td colspan="3">Empleado/a:&nbsp;&nbsp;&nbsp;{{ form.currentstaff.as_widget }}</td> 
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos de contacto</th>
                    </tr>
                    <tr>
                        <td>Dirección:</td><td colspan="5">{{ form.fulladdress.as_widget }}</td>
                    </tr>
                    <tr>
                        <td>C.Postal:</td><td colspan="2">{{ form.postcode.as_widget }}</td>
                        <td>Localidad:</td><td colspan="2">{{ form.city.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td>Provincia:</td><td colspan="2">{{ form.province.as_widget }}</td>
                        <td>País:</td><td colspan="2">{{ form.country.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td>Tel.1:</td><td colspan="2">{{ form.phone1.as_widget }}</td>
                        <td>Email:</td><td colspan="2">{{ form.email.as_widget }}</td>
                    </tr>
                    <tr>
                        <td>Tel.2:</td><td colspan="5">{{ form.phone2.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Fotografía</th>
                    </tr>
                    <tr>
        			    <td colspan="6">{{ form.picturefile.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Notas</th>
                    </tr>
 	    		    <tr>
                        <td colspan="6">{{ form.notes.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
                    <input type="submit" class="btn btn-info" value="Aceptar">
                    <input type="hidden" name="user_login" value="{{ form.user_login.value }}">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    {{ form.user_password }}
          	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock content %}
