{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}
    
    {% block JS %}

        <script type="text/javascript">
    
            function compare_Psswd() {
                
                var psswd = document.getElementById('id_user_password').value;
                var psswd_rep = document.getElementById('id_password_rep').value;

                if (psswd != psswd_rep) {
                    document.getElementById('id_user_password').value = '';
                    document.getElementById('id_password_rep').value = '';
                }
            }
    
        </script>

    {% endblock JS %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

                <table class="tbl-forms table-striped tbl-general tbl-50">

                    <caption class="tbl-capt">Nuevo/a profesional</caption>

                    {% include 'errors_profesionales.html' %}

		   	        <tr>
	    		        <th class="tbl-th" colspan="6">Usuario/a y clave de acceso al sistema</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-der">{{ form.user_login.label }}</td><td colspan="4">{{ form.user_login.as_widget }}</td>
        			    <td>{{ form.user_issuperuser.as_widget }} {{ form.user_issuperuser.label }}</td>                    
                    <tr>
                        <td class="tbl-td-der">{{ form.user_password.label }}</td><td colspan="4">{{ form.user_password.as_widget }}</td>
                        <td>{{ form.user_isstaff.as_widget }} Administrador/a</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Repetir clave:</td><td colspan="4"><input type="password" onblur="compare_Psswd()" name="password_rep" style="width: 300px" required id="id_password_rep"></td>
                        <td>{{ form.user_isactive.as_widget }} {{ form.user_isactive.label }}</td>                        
                    </tr>
                    <tr>
                        <td  class="tbl-td-centro grid-smalltxt grid-info2-color" colspan="6">
                            Ser Superusuario/a implica ser también Administrador/a.<br/>
                            Desactive "Superusuario/a" para dar solo privilegios de Administrador/a.<br/>
                            AVISO: LOS ROLES DE ACCESO SOLO SON EDITABLES POR LOS SUPERUSUARIOS/AS.                                                        
                        </td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos personales</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.fullname.label }}</td><td colspan="2">{{ form.fullname.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.dni.label }}</td><td colspan="2">{{ form.dni.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos profesionales</th>
                    </tr>
		   	        <tr>
                        <td class="tbl-td-der">{{ form.numcolegiado.label }}</td><td colspan="2">{{ form.numcolegiado.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.nif.label }}</td><td colspan="2">{{ form.nif.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.position.label }}</td><td colspan="2">{{ form.position.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.department.label }}</td><td colspan="2">{{ form.department.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;{{ form.currentavail.as_widget }} {{ form.currentavail.label }}</td>
                        <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;{{ form.currentstaff.as_widget }} {{ form.currentstaff.label }}</td> 
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos de contacto</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.fulladdress.label }}</td><td colspan="5">{{ form.fulladdress.as_widget }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.postcode.label }}</td><td colspan="2">{{ form.postcode.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.city.label }}</td><td colspan="2">{{ form.city.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.province.label }}</td><td colspan="2">{{ form.province.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.country.label }}</td><td colspan="2">{{ form.country.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.phone1.label }}</td><td colspan="2">{{ form.phone1.as_widget }}</td>
                        <td class="tbl-td-der">{{ form.email.label }}</td><td colspan="2">{{ form.email.as_widget }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">{{ form.phone2.label }}</td><td colspan="5">{{ form.phone2.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Fotografía</th>
                    </tr>
                    <tr>
        			    <td colspan="4">{{ form.picturefile.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Notas</th>
                    </tr>
 	    		    <tr>
                        <td colspan="6">{{ form.notes.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
                    <input type="submit" class="btn btn-info" value="Aceptar">
          	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock content %}
