{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

	        <form method="POST">

    	    	{% csrf_token %}

                <table class="tbl-forms table-striped tbl-general tbl-40">

                    <caption class="tbl-capt">Borrar consultorio/dependencia</caption>

                    {% include 'errors_consultorios.html' %}

		   	        <tr>
	    		        <th class="tbl-th" colspan="2">¿ Confirma el borrado ?</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-40">Denom./Identif.:</td><td>{{ consultorios.officeID }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-40">Descripción:</td><td>{{ consultorios.officeDesc }}</td>
                    </tr>
	            	<tr>
		    		    <td class="tbl-td-40">Localización:</td><td>{{ consultorios.officeLocation }}</td>
                    </tr>
                    <tr>
			    	    <td class="tbl-td-40">Departamento:</td><td>{{ consultorios.officeDepartment }}
                    </tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-danger" value="Confirmar borrado">
                    <a href="{% url 'listado-consultorios' %}"><input type="button" class="btn btn-info" value="Listado de consultorios"></a>
	    	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock content %}
