{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

	        <form method="POST">

    	    	{% csrf_token %}

                <table class="tbl-forms table-striped tbl-general tbl-40">

                    <caption class="tbl-capt">Borrar equipamiento/material</caption>
		   	        <tr>
	    		        <th class="tbl-th" colspan="2">¿ Confirma el borrado ?</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-50">Denom./Identif.:</td><td>{{ equipamientos.equipID }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-50">Descripción:</td><td>{{ equipamientos.equipDesc }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-50">Tipo:</td><td>{{ equipamientos.equipType|upper }}</td>
                    </tr>

	            	<tr>
		    		    <td class="tbl-td-50">Situación (edif./planta):</td><td>{{ equipamientos.fk_Location }}</td>
                    </tr>
                    <tr>
			    	    <td class="tbl-td-50">Departamento:</td><td>{{ equipamientos.equipDepartment }}
                    </tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-danger" value="Confirmar borrado">
                    <a href="{% url 'listado-equipamientos' %}"><input type="button" class="btn btn-info" value="Listado de equipamientos"></a>                    
	    	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock content %}
