{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo equipamiento -->
	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

             	<!-- Tabla del profesional -->
                <table class="tbl-forms table-striped tbl-general tbl-35">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Modificar datos (Usuario/a: {{ user_login }} - id: {{ user_id }})</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_profesionales.html' %}

                    <!-- Datos de acceso a django -->
		   	        <tr>
                        <th class="tbl-th" colspan="6">Roles de acceso al sistema</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-10" colspan="2">{{ form.user_issuperuser.as_widget }} Superusuario/a </td>
        			    <td class="tbl-td-10" colspan="2">{{ form.user_isstaff.as_widget }} Administrador/a </td>
                        <td class="tbl-td-10" colspan="2">{{ form.user_isactive.as_widget }} Está activo </td>
                    </tr>
                    <tr>
                        <td  class="tbl-td-centro grid-smalltxt grid-info2-color" colspan="6">
                            El nombre de usuario/a y el password no son editables.<br/>
                            Ser Superusuario/a implica ser también Administrador/a.<br/>
                            Desactive "Superusuario/a" para dar solo privilegios de Administrador/a.                            
                        </td>
                    </tr>
                    <!-- Datos personales -->
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos personales</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Nombre:</td><td colspan="2">{{ form.fullname.as_widget }}</td>
                        <td class="tbl-td-der">DNI:</td><td colspan="2">{{ form.dni.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos form</th>
                    </tr>
		   	        <tr>
                        <td class="tbl-td-der">Colegiado/a:</td><td colspan="2">{{ form.numcolegiado.as_widget }}</td>
                        <td class="tbl-td-der">NIF:</td><td colspan="2">{{ form.nif.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Cargo:</td><td colspan="2">{{ form.position.as_widget }}</td>
                        <td class="tbl-td-der">Departamento:</td><td colspan="2">{{ form.department.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;&nbsp;&nbsp;{{ form.currentavail.as_widget }} De alta</td>
                        <td colspan="3">&nbsp;&nbsp;&nbsp;{{ form.currentstaff.as_widget }} Es empleado/a</td> 
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Datos de contacto</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Dirección:</td><td colspan="5">{{ form.fulladdress.as_widget }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">C.Postal:</td><td colspan="2">{{ form.postcode.as_widget }}</td>
                        <td class="tbl-td-der">Localidad:</td><td colspan="2">{{ form.city.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Provincia:</td><td colspan="2">{{ form.province.as_widget }}</td>
                        <td class="tbl-td-der">País:</td><td colspan="2">{{ form.country.as_widget }}</td> 
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Tel.1:</td><td colspan="2">{{ form.phone1.as_widget }}</td>
                        <td class="tbl-td-der">Email:</td><td colspan="2">{{ form.email.as_widget }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-der">Tel.2:</td><td colspan="5">{{ form.phone2.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Fotografía</th>
                    </tr>
                    <tr>
        			    <td colspan="6">{{ form.picturefile.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="6">Notas</th>
                    </tr>
 	    		    <tr>
                        <td colspan="6">{{ form.notes.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
                    <input type="submit" class="btn btn-info" value="Aceptar">
                    <input type="hidden" name="user_login" value="{{ user_login }}">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="user_password" value="{{ user_password }}">
                    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock content %}
