{% extends 'base.html' %}

    <!-- **************** -->
    <!--     Script JS    -->
    <!-- **************** -->

    {% block JS %}


    {% endblock JS %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo consultorio -->
            <!-- enctype="multipart/form-data se usa para poder subir imagenes binarias -->
	        <form method="POST">

    	    	{% csrf_token %}

             	<!-- Tabla del consultorio -->
                <table class="tbl-forms table-striped tbl-general tbl-70">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Modificar proveedor</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_proveedores.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Datos de la empresa</th>
                    </tr>
                    <tr>
        			    <td>Nombre empresa:</td><td>{{ form.fullname.as_widget }}</td>
                        <td>Area/Ambito:</td><td>{{ form.area.as_widget }}</td>
		   	        <tr>
                        <td>Propietario:</td><td>{{ form.owner.as_widget }}</td>
                        <td>NIF:</td><td>{{ form.nif.as_widget }}</td>
                    </tr>
                    <tr>
			    	    <td>Dirección:</td><td colspan="3">{{ form.fulladdress.as_widget }}</td>
                    </tr>
                </table>

                <table class="tbl-forms table-striped tbl-general tbl-70">

                    <tr>
	    		        <th class="tbl-th" colspan="4">Fabricante</th>
                    </tr>
                    <tr>
                        <td>
                            ¿ Es fabricante ?:&nbsp;{{ form.isManufact.as_widget }}&nbsp;Teléfono:&nbsp;{{ form.phoneManufact.as_widget }}&nbsp;
                            Correo electrónico:&nbsp;{{ form.emailManufact.as_widget }}
                        </td>
                    </tr>
                    <tr>
                        <td>Persona de contacto:&nbsp;{{ form.contactManufact.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Proveedor</th>
                    </tr>
                    <tr>
                        <td>
                            ¿ Es proveedor ?:&nbsp;{{ form.isProveedor.as_widget }}&nbsp;Teléfono:&nbsp;{{ form.phoneProveedor.as_widget }}&nbsp;
                            Correo electrónico:&nbsp;{{ form.emailProveedor.as_widget }}
                        </td>
                    </tr>
                    <tr>
                        <td>Persona de contacto:&nbsp;{{ form.contactProveedor.as_widget }}</td>
                    </tr>
                     <tr>
	    		        <th class="tbl-th" colspan="4">S.A.T.</th>
                    </tr>
                    <tr>
                        <td>
                            ¿ Es un SAT ?:&nbsp;{{ form.isSAT.as_widget }}&nbsp;Teléfono:&nbsp;{{ form.phoneSAT.as_widget }}&nbsp;
                            Correo electrónico:&nbsp;{{ form.emailSAT.as_widget }}
                        </td>
                    </tr>
                    <tr>
                        <td>Persona de contacto:&nbsp;{{ form.contactSAT.as_widget }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Notas</th>
                    </tr>
	    		    <tr>
                        <td colspan="4">{{ form.notas.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-info" value="Aceptar">
	    	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>
    
    {% endblock content %}