{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo equipamiento -->
	        <form method="POST">

    	    	{% csrf_token %}

             	<!-- Tabla del equipamiento -->
                <table class="tbl-forms table-striped tbl-general tbl-50">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Editar equipamiento/material</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_equipamiento.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Descripción</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-40">Refer./Ident./Num. Serie:</td><td colspan="3">{{ form.equipID.as_widget }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-40">Descripción:</td><td colspan="3">{{ form.equipDesc.as_widget }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-40">Tipo/Clase:</td><td colspan="3">{{ form.equipType.as_widget }}</td>
                    </tr>
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Situación</th>
                    </tr>
	            	<tr>
		    		    <td class="tbl-td-40">Situación (edif./planta):</td><td colspan="3">{{ form.fk_Location.as_widget }}</td>
                    </tr>
                    <tr>
			    	    <td class="tbl-td-40">Departamento:</td><td colspan="3">{{ form.equipDepartment.as_widget }}
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Control de Operatividad/Stock</th>
                    </tr>
                    <tr>
                        <td  class="tbl-td-centro grid-smalltxt grid-info2-color" colspan="4">
                            Ambos controles son mutuamente excluyentes, pero el control de stock es PREFERENTE.<br/>
                            Desactive el control de stock para usar el de operatividad, o ambos para no usar controles.                            
                        </td>
                    </tr>
                    <tr>
                        <td>Control Operatividad:</td><td>{{ form.equipIsavail.as_widget }}</td>
                        <td>Control Stock:</td><td>{{ form.stockwarning.as_widget }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="div-control-stock">
                                Límite de aviso (unids.):&nbsp;{{ form.stocklimit.as_widget }}
                            </div>
                            <div class="div-control-stock">
                                Stock actual (unids.):&nbsp;&nbsp;&nbsp;&nbsp;{{ form.stockavail.as_widget }}
                            </div>                                    
                        </td>
                     </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Fabricante y Proveedor</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-40">Fabricante:</td><td colspan="3">{{ form.fk_Manufact.as_widget }}
                    </tr>
                    <tr>
                        <td class="tbl-td-40">Proveedor:</td><td colspan="3">{{ form.fk_Proveedor.as_widget }}</td>
                    </tr>
                    <tr>
                        <td class="tbl-td-40">S.A.T.:</td><td colspan="3">{{ form.fk_SAT.as_widget }}</td>
                    </tr>
 		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Notas</th>
                    </tr>
 	    		    <tr>
                        <td colspan="4">{{ form.notes.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
                    <input type="submit" class="btn btn-info" value="Aceptar">
                    <a href="{% url 'listado-equipamiento' %}"><input type="button" class="btn btn-info" value="Listado de equipamiento"></a>
	    	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock %}
