<!-- ********************** -->
<!--   edit_consultorio_tpl  -->
<!-- ********************** -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!--     Script JS    -->
    <!-- **************** -->

    {% block JS %}

    {% endblock %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de nuevo consultorio -->
            <!-- enctype="multipart/form-data se usa para poder subir imagenes binarias -->
	        <form method="post">

    	    	{% csrf_token %}

             	<!-- Tabla del consultorio -->
                <table class="tbl-general tbl-forms tbl-40 table-striped">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Editar consultorio/dependencia</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_consultorios.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Descripción</th>
                    </tr>
                    <tr>
        			    <td class="tbl-td-20">Denom./Identif.:</td><td colspan="3">{{ form.officeID.as_widget }}</td>
                    </tr>
                    <tr>
            		    <td class="tbl-td-20">Descripción:</td><td colspan="3">{{ form.officeDesc.as_widget }}</td>
                    </tr>
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Situación y disponibilidad</th>
                    </tr>
	            	<tr>
		    		    <td class="tbl-td-20">Situación (edif./planta):</td><td colspan="3">{{ form.officeLocation.as_widget }}</td>
                    </tr>
                    <tr>
			    	    <td class="tbl-td-20">Departamento:</td><td colspan="3">{{ form.officeDepartment.as_widget }}
                    </tr>
	    		    <tr>
                        <td class="tbl-td">Teléfono:</td><td>{{ form.officePhone.as_widget }}
                        <td class="tbl-td">Disponible:</td><td>{{ form.officeIsavail.as_widget }}</td>
                       </tr>
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Equipamiento y notas</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-20">Equipamiento:</td><td colspan="3">{{ form.officeEquipment.as_widget }}
   			    	</tr>
	    		    <tr>
                        <td class="tbl-td-20">Notas:</td><td colspan="3">{{ form.officeNotes.as_widget }}
   			    	</tr>

        		</table>

    	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-info" value="Aceptar">
	    	    	<a href={% url 'menu-clinica' %}><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock %}
