<!-- Errores en el form -->
{{ form.non_field_errors }}

{% if form.oto_Profesional.errors %}
<tr>
    <th colspan="4" class ="field-errors">
        {% for error in form.oto_Profesional.errors %}
            {{ form.oto_Profesional.label }} : {{ error }}
        {% endfor %}
    </th>
</tr>
{% endif %}

{% if form.djangouser.errors %}
<tr>
    <th colspan="4" class ="field-errors">
        {% for error in form.djangouser.errors %}
            {{ form.djangouser.label }} : {{ error }}
        {% endfor %}
    </th>
</tr>
{% endif %}

{% if form.djangopassword.errors %}
<tr>
    <th colspan="4" class ="field-errors">
        {% for error in form.djangopassword.errors %}
            {{ form.djangopassword.label }} : {{ error }}
        {% endfor %}
    </th>
</tr>
{% endif %}

<!-- Si hay mensajes pendientes -->
{% for message in messages %}
<tr>
    <th colspan="4" class ="field-errors">
        {{ message }}
    </th>
</tr>
{% endfor %}
