{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-50">

                <caption class="tbl-capt">ERROR DE USUARIO</caption>

                {% for message in messages %}
                    <!--- Bucle vacio para limpiar los mensajes y evitar que saklgan ek tablas posteriores -->
                {% endfor %}

                <tr>
                    <td class="tbl-td-centro">Usuario ROOT</td>
                </tr>

                <tr>
    	        	<td class="tbl-td-centro">ROOT no es un usuario de fixuSystem.<br/>Este usuario solo es accesible desde la aplicación de administración.</td>
    		    </tr>

            </table>

		    <!-- Botones de acción -->
            <div class="div-botones">
                <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Volver"></a>
            </div>

        </section>

    {% endblock content %}
