
<!-- Errores en el form -->
{{ form.non_field_errors }}

<!-- Errores en los campos obligatorios -->
{% if form.fullname.errors %}
<tr>
    <th colspan="4" class ="field-errors">
        {% for error in form.fullname.errors %}
            {{ form.fullname.label }} : {{ error }}
        {% endfor %}
    </th>
</tr>
{% endif %}

{% if form.fulladdress.errors %}
<tr>
    <th colspan="4" class ="field-errors">
        {% for error in form.fulladdress.errors %}
            {{ form.fulladdress.label }} : {{ error }}
        {% endfor %}
    </th>
</tr>
{% endif %}

<!-- Si hay mensajes pendientes -->
{% for message in messages %}
<tr>
    <th colspan="4" class ="field-errors">
        {{ message }}
    </th>
</tr>
{% endfor %}
