{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de cĺínica</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

           	<!-- Informa de que no se pueden crear datos -->
            <table class="tbl-forms table-striped tbl-general tbl-40">
                <!-- Texto con el contenido -->
                <caption class="tbl-capt">YA EXISTEN DATOS DE UNA CLINICA</caption>
                <tr>
    	        	<td class="tbl-td-centro">Sólo puede existir una clínica en la base de datos.</td>
    		    </tr>
            </table>

		    <!-- Botones de acción -->
            <div class="div-botones">
                <a href="{% url 'info-clinica' %}"><input type="button" class="btn btn-info" value="Volver"></a>
            </div>

        </section>

    {% endblock content %}
