{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <table class="tbl-forms table-striped tbl-general tbl-40">

                <caption class="tbl-capt">Consultorio/Dependencia: {{ consultorios.officeID }}</caption>

		        <tr>
	                <th class="tbl-th" colspan="4">Identificación y descripción</th>
                </tr>

                <tr>
            	    <td class="tbl-td tbl-td-30">Identificación:</td><td colspan="3">{{ consultorios.officeID }}</td>                
            	</tr>
                <tr>
                    <td class="tbl-td tbl-td-30">Descripción:</td><td colspan="3">{{ consultorios.officeDesc }}</td>
                </tr>
		   	    <tr>
	    		    <th class="tbl-th" colspan="4">Situación y disponibilidad</th>
                </tr>
	            <tr>
		    	    <td class="tbl-td-30">Localización:</td><td colspan="3">{{ consultorios.officeLocation }}</td>
                </tr>
                <tr>
			        <td class="tbl-td-30">Departamento:</td><td colspan="3">{{ consultorios.officeDepartment }}
                </tr>
	    		<tr>
                    <td class="tbl-td tbl-td-30">Teléfono:</td><td>{{ consultorios.officePhone }}</td>
                        {% if consultorios.officeIsavail %}
                            <td class="tbl-td-der">Operativo:</td><td class="tbl-td-centro avail">Si</td>
                        {% else %}
                            <td class="tbl-td-der">Operativo:</td><td class="tbl-td-centro not-avail">No</td>
                        {% endif %}
                </tr>
		   	    <tr>
	    		    <th class="tbl-th" colspan="4">Equipamiento y notas</th>
                </tr>
                <tr>
                    <td class="tbl-td-30">Equipamiento:</td><td colspan="3">{{ consultorios.officeEquipment }}
   			    </tr>
	    		<tr>
                    <td class="tbl-td-30">Notas:</td><td colspan="3">{{ consultorios.officeNotes }}
   			    </tr>

        	</table>

    	    <!-- Botones -->
            <div class="div-botones">
                <a href="{% url 'listado-consultorios' %}"><input type="button" class="btn btn-info" value="Listado de consultorios"></a>
	    	    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
            </div>

        </section>

    {% endblock content %}
