{% extends 'base.html' %}

    <!-- **************** -->
    <!--     Script JS    -->
    <!-- **************** -->

    {% block JS %}

    {% endblock %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Tabla del profesional -->
            <table class="tbl-forms table-striped tbl-general tbl-60">

                <!-- Texto con el contenido -->
                <caption class="tbl-capt">Usuario/a del sistema: {{ profesionales.oto_Profesional }} (Activo/a: {{ profesionales.oto_Profesional.is_active|yesno:'Si,No' }})</caption>
            
                <!-- Datos personales -->
                <tr>
                    <th class="tbl-th" colspan="4">Datos personales y profesionales</th>
                </tr>
                <tr>
                    <td class="tbl-td-80" colspan="3">
                        <table class="tbl-in-tbl">
            		        <tr>
		            	        <th class="tbl-th-izq tbl-td-50">Nombre</th>
			                    <th class="tbl-td-60 tbl-th-izq">DNI</th>
            		        </tr>
	            	        <tr>
			                    <td>{{ profesionales.fullname }}</td>
   				                <td>{{ profesionales.dni }}</td>
        	    	        </tr>
            		        <tr>
                                <th class="tbl-th-izq">Colegiado/a</th>
       				            <th class="tbl-th-izq">NIF</th>
            		        </tr>
	            	        <tr>
                                <td>{{ profesionales.numcolegiado|upper }}</td>
    			                <td>{{ profesionales.nif|upper }}</td>
                            </tr>
                            <tr>
                                <th class="tbl-th-izq">Cargo</th>
       				            <th class="tbl-th-izq">Depto.</th>
            		        </tr>
                            <tr>
                                <td>{{ profesionales.position }}</td>
                                <td>{{ profesionales.department }}</td> 
                            </tr>
                        </table>
                    </td>
                        {% if profesionales.picturefile.url != '' %}
                            <td><img class="img-paciente" height="240px" width="180px" src="{{ profesionales.picturefile.url }}" /></td>
                        {% else %}
                            <td class="td-marco-foto">Sin foto</td>
                        {% endif %}
                </tr>
                <tr>
                    <th class="tbl-th" colspan="2">De alta</th>
                    <th class="tbl-th" colspan="2">Empleado/a</th>
                </tr>
                <tr>
                    {% if profesionales.currentavail %}
                        <td class="tbl-td-centro avail" colspan="2">{{ profesionales.currentavail|yesno:'Si,No' }}</td>
                    {% else %}
                        <td class="tbl-td-centro not-avail" colspan="2">{{ profesionales.currentavail|yesno:'Si,No' }}</td>
                    {% endif %}
                    {% if profesionales.currentstaff %}
                        <td class="tbl-td-centro avail" colspan="2">{{ profesionales.currentstaff|yesno:'Si,No' }}</td>
                    {% else %}
                        <td class="tbl-td-centro not-avail" colspan="2">{{ profesionales.currentstaff|yesno:'Si,No' }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="tbl-th" colspan="4">Roles de acceso al sistema</th>
                </tr>
                <tr>
                    <th class="tbl-th" colspan="2">Superusuario/a</th>
                    <th class="tbl-th" colspan="2">Administrador/a</th>
                </tr>
                <tr>
                    {% if profesionales.oto_Profesional.is_superuser %}
                        <td class="tbl-td-centro avail" colspan="2">{{ profesionales.oto_Profesional.is_superuser|yesno:'Si,No' }}</td>
                    {% else %}
                        <td class="tbl-td-centro not-avail" colspan="2">{{ profesionales.oto_Profesional.is_superuser|yesno:'Si,No' }}</td>
                    {% endif %}
                    {% if profesionales.oto_Profesional.is_staff %}
                        <td class="tbl-td-centro avail" colspan="2">{{ profesionales.oto_Profesional.is_staff|yesno:'Si,No' }}</td>
                    {% else %}
                        <td class="tbl-td-centro not-avail" colspan="2">{{ profesionales.oto_Profesional.is_staff|yesno:'Si,No' }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="tbl-th" colspan="4">Datos de contacto</th>
                </tr>
                <tr>
                    <td>Dirección:</td><td colspan="3">{{ profesionales.fulladdress }}</td>
                </tr>
                <tr>
                    <td>C.Postal:</td><td>{{ profesionales.postcode }}</td>
                    <td>Localidad:</td><td>{{ profesionales.city }}</td> 
                </tr>
                <tr>
                    <td>Provincia:</td><td>{{ profesionales.position }}</td>
                    <td>País:</td><td>{{ profesionales.department }}</td> 
                </tr>
                <tr>
                    <td>Tel.1:</td><td>{{ profesionales.phone1 }}</td>
                    <td>Email:</td><td>{{ profesionales.email }}</td>
                </tr>
                <tr>
                    <td>Tel.2:</td><td colspan="3">{{ profesionales.phone2 }}</td>
                </tr>
                <tr>
                    <th class="tbl-th" colspan="4">Notas</th>
                </tr>
                <tr>
                    <td colspan="4">{{ profesionales.notes }}
                </tr>
            </table>
            
    	    <!-- Botones -->
            <div class="div-botones">
                <a href="{% url 'select-profesionales' %}"><input type="button" class="btn btn-info" value="Listado de profesionales"></a>
                <a href="{% url 'edit-profesionales' profesionales.oto_Profesional.id %}"><input type="button" class="btn btn-info" value="Editar"></a>
                <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
            </div>

        </section>

    {% endblock %}
