{% extends 'base.html' %}

    <!-- **************** -->
    <!--     Script JS    -->
    <!-- **************** -->

    {% block JS %}

    {% endblock %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de clínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Tabla del consultorio -->
            <table class="tbl-forms table-striped tbl-general tbl-50">

                <!-- Texto con el contenido -->
                <caption class="tbl-capt">Proveedor: ID-{{ proveedores.idProveedor }}</caption>

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="2">Datos de la empresa</th>
                    </tr>
                    <tr>
                        <td class="tbl-td-30">Nombre empresa:</td><td>{{ proveedores.fullname }}</td>
                    </tr>
                    <tr>
                        <td>Area/Ambito:</td><td>{{ proveedores.area }}</td>
		   	        <tr>
                        <td>Propietario:</td><td>{{ proveedores.owner }}</td>
                    </tr>
                    <tr>   
                        <td>NIF:</td><td>{{ proveedores.nif }}</td>
                    </tr>
                    <tr>
			    	    <td>Dirección:</td><td>{{ proveedores.fulladdress }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="2">Fabricante: {{ proveedores.isManufact|yesno:"Si,No,Indet." }}</th>
                    </tr>
                    <tr>
                        <td>Teléfono: {{ proveedores.phoneManufact }}</td>
                        <td>Correo electrónico: {{ proveedores.emailManufact }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Persona de contacto: {{ proveedores.contactManufact }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Proveedor: {{ proveedores.isProveedor|yesno:"Si,No,Indet." }}</th>
                    </tr>
                    <tr>
                        <td>Teléfono: {{ proveedores.phoneProveeor }}</td>
                        <td>Correo electrónico: {{ proveedores.Proveedor }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Persona de contacto: {{ proveedores.contactProveedor }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">S.A.T.: {{ proveedores.isSAT|yesno:"Si,No,Indet." }}</th>
                    </tr>
                    <tr>
                        <td>Teléfono: {{ proveedores.phoneSAT }}</td>
                        <td>Correo electrónico: {{ proveedores.emailSAT }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Persona de contacto: {{ proveedores.contactSAT }}</td>
                    </tr>
                    <tr>
	    		        <th class="tbl-th" colspan="4">Notas</th>
                    </tr>
	    		    <tr>
                        <td colspan="4">{{ proveedores.notas }}
   			    	</tr>

        		</table>

    	    <!-- Botones -->
            <div class="div-botones">
                <a href="{% url 'listado-proveedores' %}"><input type="button" class="btn btn-info" value="Aceptar"></a>
	    	    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
            </div>

        </section>

    {% endblock %}
