{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de cĺínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

        	{% if clinica %}

                <table class="tbl-forms table-striped tbl-general tbl-70">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">EMPRESA:<br/> {{ clinica.clinicname }}</caption>

    		        <tr>
    		    	    <td class="tbl-td tbl-td-20">Titular:</td>
                        <td colspan="2">{{ clinica.ownerfullname }}</td>
    		    	    <td class="tbl-td tbl-td-20">Núm. Colegiado/a:</td>
                        <td colspan="2">{{ clinica.numcolegiado }}</td>
                    </tr>
                    <tr>
                    	<td class="tbl-td  tbl-td-20">DNI:</td>
                        <td colspan="2">{{ clinica.dni }}</td>
                        <td class="tbl-td  tbl-td-20">NIF:</td>
                        <td colspan="2">{{ clinica.nif }}</td>
                    </tr>

                </table>

                <table class="tbl-forms table-striped tbl-general tbl-70">

                    <caption class="tbl-capt">Dirección</caption>

                    <tr>
		    	        <td class="tbl-td tbl-td-20">Dirección:</td>
                        <td colspan="2">{{ clinica.fulladdress }}</td>
		    	        <td class="tbl-td tbl-td-20">Localidad:</td>
                        <td colspan="2">{{ clinica.city }}</td>
                    </tr>
                    <tr>
		    	        <td class="tbl-td tbl-td-20">Cód. Postal:</td>
                        <td colspan="2">{{ clinica.postcode }}</td>
		    	        <td class="tbl-td tbl-td-20">Provincia:</td>
                        <td colspan="2">{{ clinica.province }}</td>
            		</tr>

                </table>

                <table class="tbl-forms table-striped tbl-general tbl-70">

                    <caption class="tbl-capt">Datos de contacto</caption>

                    <tr>
    	    	    	<td class="tbl-td tbl-td-20">Teléfono 1:</td>
                        <td class="tbl-td" colspan="2">{{ clinica.phone1 }}</td>
    	    	    	<td class="tbl-td tbl-td-20">E-mail:</td>
                        <td class="tbl-td" colspan="2">{{ clinica.email }}</td>
    			    </tr>
                    <tr>
    	    	    	<td class="tbl-td tbl-td-20">Teléfono 2:</td>
                        <td class="tbl-td" colspan="2">{{ clinica.phone2 }}</td>                        
    	    	    	<td class="tbl-td tbl-td-20">Notas</td>
	    	    	    <td class="tbl-td" colspan="2">{{ clinica.notes }}</td>
                    </tr>

        	    </table>

		        <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{% url 'edit-info-clinica' clinica.idClinica %}"><input type="button" class="btn btn-info" value="Editar datos"></a>
                    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menú de clinica"></a>
                </div>

    		{% else %}

                <table class="tbl-forms table-striped tbl-general tbl-40">

                    <caption class="tbl-capt">SIN DATOS DE LA CLINICA</caption>
                    <tr>
    	    	       	<td class="tbl-td-centro">¿ Desea introducir la información ahora ?</td>
    		        </tr>

                </table>

		        <!-- Botones de acción -->
                <div class="div-botones">
                    <a href="{% url 'init-clinica' %}"><input type="button" class="btn btn-info" value="Si"></a>
                    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="No"></a>
                </div>

            {% endif %}

        </section>

    {% endblock content %}
