{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de cĺínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <!-- Formularion de editar clinica -->
            <!-- enctype="multipart/form-data se usa para poder subir imagenes binarias -->
	        <form method="POST" enctype="multipart/form-data">

    	    	{% csrf_token %}

                <!-- Tabla del paciente -->
                <table class="tbl-forms table-striped tbl-general tbl-60">

                    <!-- Texto con el contenido -->
                    <caption class="tbl-capt">Introducir datos de la clinica</caption>

                    <!-- Errores en el form -->
                    {% include 'errors_clinica.html' %}

                    <!-- Datos personales -->
		   	        <tr>
	    		        <th class="tbl-th" colspan="4">Datos profesionales</th>
                    </tr>
        			    <td >Nombre Clínica:</td>
                        <td>{{ form.clinicname.as_widget }}</td>
		    		    <td>NIF:</td>
                        <td>{{ form.nif.as_widget }}</td>
                    <tr>
                        <td>Titular (nombre completo):</td>
                        <td>{{ form.ownerfullname.as_widget }}</td>
                        <td>Archivo de foto:</td>
                        <td>{{ form.picturefile.as_widget }}</td>
                    </tr>
                    <tr>
                        <td>DNI:</td>
                        <td>{{ form.dni.as_widget }}</td>
               		    <td>Núm Colegiado/a:</td>
                        <td>{{ form.numcolegiado.as_widget }}</td>
   			    	</tr>
      
                    <!-- Domicilio -->
		       	    <tr>
	    	    	    <th class="tbl-th" colspan="4">Domicilio</th>
                    </tr>
    	    		<tr>
	    	    		<td>Dirección:</td><td>{{ form.fulladdress.as_widget }}</td>
                        <td>Localidad:</td><td>{{ form.city.as_widget }}</td>
                    </tr>
                    <tr>
                        <td>Código postal:</td><td>{{ form.postcode.as_widget }}</td>
		    	    	<td>Provincia:</td><td>{{ form.province.as_widget }}</td>
        			</tr>

                    <!-- Datos de contacto -->
	    	   	    <tr>
	        		    <th class="tbl-th" colspan="4">Datos de contacto</th>
                    </tr>
    	    		<tr>
		    	    	<td>Teléfono principal:</td>
                        <td>{{ form.phone1 }}</td>
			    	    <td>Teléfono alternativo:</td>
                        <td>{{ form.phone2 }}</td>
       				</tr>
                    <tr>
                        <td>E-mail:</td>
                        <td colspan="3">{{ form.email }}</td>
                    </tr>

                    <!-- Notas -->
	    	   	    <tr>
	        		    <th class="tbl-th" colspan="4">Notas</th>
                    </tr>
	    		    <tr>
    				    <td class="tbl-td-centro" colspan="4">{{ form.notes }}</td>
    			    </tr>

                </table>

     	    	<!-- Botones -->
                <div class="div-botones">
		        	<input type="submit" class="btn btn-info" value="Aceptar">
	    	    	<a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
                </div>

	        </form>

        </section>

    {% endblock %}
