<!-- ************************ -->
<!--   init_info_clinica_tpl  -->
<!-- ************************ -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Gestión de cĺínica</title>

    {% endblock %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <div class="div-cabecera-menu">Gestión de Instalaciones y Servicios</div>

            <br/>

            <div class="div-clinica">
                <div>
                    <a href="{% url 'listado-consultorios' %}">
                        <button style="width: 320px;" type="button" class="btn btn-info btn-shadow">Consultorios y dependencias</button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'listado-proveedores' %}">
                        <button style="width: 320px;" type="button" class="btn btn-info btn-shadow">Proveedores y SATs</button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'listado-equipamiento' %}">
                        <button style="width: 320px;" type="button" class="btn btn-info btn-shadow">Equipamiento y materiales</button>
                    </a>
                </div>
            </div>

        </section>

    {% endblock %}
