{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de clínica</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

    	<!-- Botones de acción -->
        <div class="div-botones">
            <a href="{% url 'create-profesionales' %}"><input type="button" class="btn btn-info" value="Nuevo profesional"></a>
        </div>

        <table class="tbl-forms table-striped tbl-general tbl-70">

	    	<caption class="tbl-capt">Listado de usuarios/as y profesionales
                {% if is_paginated %}
                    <span> - Página {{ page_obj.number }} de {{ paginator.num_pages }}</span>
                {% endif %}
            </caption>

	    	<tr>
                <th class="tbl-th-izq">Usuario</th>
		        <th class="tbl-th-izq tbl-td-30">Nombre</th>
           		<th class="tbl-th-izq">Cargo</th>
                <th class="tbl-th-izq">Departamento</th>
                <th class="tbl-th">Alta</th>
                <th class="tbl-th">Plantilla</th>
                <th class="tbl-th tbl-td-10" colspan="2">Acciones</th>    
            </tr>

            {% if not profesionales %}
	    	    <tr>
                    <th colspan="8" class="field-errors">
                        <span>Ningún profesional con esos datos</span>
                    </th>
                </tr>

            {% else %}

                {% for profesional in profesionales %}
               		<tr class="grid-smalltxt">
                        <td>{{ profesional.username }}</td>
                        {% if not profesional.profesionales.fullname %}
                            <td colspan="5" class="tbl-td-centro grid-info3-color">No existe ningun/a profesional asociado/a a este/a usuario/a</td>
                        {% else %}
			       	        <td>{{ profesional.profesionales.fullname }}</td>
		    	            <td>{{ profesional.profesionales.position }}</td>
                            <td>{{ profesional.profesionales.department }}</td>
                            <td class="tbl-td-centro">{{ profesional.profesionales.currentavail|yesno:'Si,No,Indet.' }}</td>
                            <td class="tbl-td-centro">{{ profesional.profesionales.currentstaff|yesno:'Si,No,Indet.' }}</td>  
                        {% endif %}
                        
                        <!-- Enlaces a abrir, edit y crear cita -->
                        <td>
                            <div class="div-fechas">
                                {% if not profesional.profesionales.fullname %}
                                    <a href="{% url 'complete-profesionales' profesional.id %}"><input type="button" class="btn btn-danger btn-sm" value="Completar datos"></a>&nbsp;
                                {% else %}
                                    <a href="{% url 'id-profesionales' profesional.id %}"><input type="button" class="btn btn-info btn-sm" value="Abrir"></a>&nbsp;
                                    <a href="{% url 'edit-profesionales' profesional.id %}"><input type="button" class="btn btn-info btn-sm" value="Editar"></a>&nbsp;
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

      		{% endif %}

        </table>

        {% include 'paginador.html' %}

    	<!-- Botones de acción -->
        <div class="div-botones">
		    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
        </div>


        </section>

    {% endblock content %}
