<!-- *************************** -->
<!--   listado_consultorios_tpl  -->
<!-- *************************** -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de clínica</title>

    {% endblock title %}

    <!-- **************** -->
    <!--        JS        -->
    <!-- **************** -->

    {% block JS %}

        <script type="text/javascript">

            // Limpia campos de filtro al pulsar un boton
            function cleanDesc() {
                document.getElementById('id_filterdesc').value = '';
            }
            function cleanLocat() {
                document.getElementById('id_filterlocat').value = '';
            }
            // Pone el criterio de ordenacion al pinchar en la cabecera
            function setOrder (order) {

                // Reset buttons css
                document.getElementById("btn-officeID").classList.remove("btn-warning");
                document.getElementById("btn-officeLocation").classList.remove("btn-warning");
                document.getElementById("btn-officeIsavail").classList.remove("btn-warning");

                // Set button css and value
                var btn_target = "btn-" + order;
                document.getElementById(btn_target).classList.add("btn-warning");
                origen = document.getElementById("id_orderby");
                origen.value = order;
            }

        </script>

    {% endblock JS %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

        <!-- Tabla mostrando consultorios -->
        <table class="tbl-forms table-striped tbl-general tbl-70">

            <!-- Texto con el contenido -->
	    	<caption class="tbl-capt">Listado de consultorios/dependencias
                {% if is_paginated %}
                    <span> - Página {{ page_obj.number }} de {{ paginator.num_pages }}</span>
                {% endif %}
            </caption>

            <!-- Filtrado -->
            <tr>
                <td colspan="6">
                    <div class="div-filtro-equip">
                        <button class="btn btn-success btn-sm" style="font-size: 0.8em;">F:&nbsp;{{ filterdesc|upper }}&nbsp;{{ filterlocat|upper }}&nbsp;O:&nbsp;{{ orderby|upper }}</button>   
                        <div class="div-filtro-equip-der">
                            <form method="GET">                            
                                <button type="button" onclick="cleanDesc()" class="btn btn-info btn-sm">Identif.:</button>{{ form.filterdesc }}
                                <button type="button" onclick="cleanLocat()" class="btn btn-info btn-sm">Situac.:</button>{{ form.filterlocat }}
                                <input type="hidden" name="orderby" id="id_orderby" value="">
                                <input class="btn btn-danger btn-sm" type="submit" value="Filtrar">
                            </form>
                       </div>
                   </div>
                </td>
            </tr>
            
            <!-- Cabecera de la tabla -->
	    	<tr>
           		<th class="tbl-th">
                    <button id="btn-officeID" onclick="setOrder('officeID')" type="button" class="btn btn-info btn-sm">Identif.</button>
                </th>
                <th class="tbl-th-izq">
                    <button id="btn-officeLocation" onclick="setOrder('officeLocation')" type="button" class="btn btn-info btn-sm">Situación</button>
                </th>
                <th class="tbl-th-izq">Departamento</th>
                <th class="tbl-th tbl-td-10">
                    <button id="btn-officeIsavail" onclick="setOrder('officeIsavail')" type="button" class="btn btn-info btn-sm">Disponible</button>
                 </th>
                <th class="tbl-th">Teléfono</th>
                <th class="tbl-th tbl-td-10">Acciones</th>
            </tr>

            <!-- NO devuelve ningun consultorio avisa y cierra la tabla -->
            {% if not consultorios %}
	    	    <tr>
                    <th colspan="6" class="field-errors">
                        <span>Ningún consultorio devuelto</span>
                    </th>
                </tr>

            <!-- SI devuelve algun consultorio muestra y cierra la tabla -->
            {% else %}

                <!-- Devuelve los consultorios en un querySet llamada consultorios -->
                {% for consultorio in consultorios %}
                    <tr class="grid-smalltxt">
                        <td class="tbl-td-centro">{{ consultorio.officeID }}</td>
                        <td class="tbl-td">{{ consultorio.officeLocation }}</td>
                        <td class="tbl-td">{{ consultorio.officeDepartment }}</td>

                        {% if consultorio.officeIsavail %}
                            <td class="tbl-td-centro avail">Si</td>
                        {% else %}
                            <td class="tbl-td-centro not-avail">No</td>
                        {% endif %}

                        <td class="tbl-td-centro">{{ consultorio.officePhone|default_if_none:'No' }}</td>

                        <!-- Enlaces a abrir, editar y borrar consultorio -->
                        <td>
                            <div class="div-fechas">
                                <a href="{% url 'id-consultorios' consultorio.idConsultorio %}"><input type="button" class="btn btn-info btn-sm" value="Abrir"></a>&nbsp;
                                <a href="{% url 'edit-consultorios' consultorio.idConsultorio %}"><input type="button" class="btn btn-info btn-sm" value="Editar"></a>&nbsp;
                                <a href="{% url 'delete-consultorios' consultorio.idConsultorio %}"><input type="button" class="btn btn-danger btn-sm" value="Borrar"></a>&nbsp;
                            </div>
                        </td>
                   </tr>
                {% endfor %}

      		{% endif%}

        </table>

        <!-- Incluye PAGINADOR-->
        {% include 'paginador_consultorios.html' %}

    	<!-- Botones de acción -->
        <div class="div-botones">
            <a href="{% url 'create-consultorios' %}"><input type="button" class="btn btn-info" value="Nuevo consultorio"></a>
		    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
        </div>

        </section>

    {% endblock content %}
