{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

		<title>fixuSystem - Fisioterapia  - Gestión de clínica</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

    <section class="sect-home-page-menu">

        {% load static %}

	    <!-- Formulario de entrada de criterios -->
        <form method="POST">

            {% csrf_token %}

            <table class="tbl-forms table-striped tbl-general tbl-35">

                <!-- Texto con el contenido -->
        	    <caption class="tbl-capt">Selección de profesionales</caption>

                <!-- Errores en el form -->
                {% include 'errors_profesionales.html' %}

                <!-- Campos para el contenido -->
                <tr>
                    <td class="tbl-td">Nombre:</td>
                    <td>{{ form.fullname.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td">Cargo:</td>
                    <td>{{ form.position.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td">Departamento:</td>
                    <td>{{ form.department.as_widget }}</td>
                </tr>
 
            </table>

            <!-- Botones -->
            <div class="div-botones">
			    <input type="submit" class="btn btn-info" value="Enviar">
			    <a href="{% url 'menu-clinica' %}"><input type="button" class="btn btn-info" value="Menu de clínica"></a>
            </div>

	    </form>

    </section>

    {% endblock content %}
