{% extends 'base.html' %}

    {% block title %}

    	<title>fixuSystem - Fisioterapia</title>

    {% endblock title %}

    {% block content %}

        {% load static %}

        <section class="sect-home-page-menu">

            <div class="div-cabecera-menu">Menú Principal</div>

            <br/>

            <div class="div-cuerpo-menu">
				<div>
                    <a href="{%url 'menu-pacientes' %}">
                        <img width="190" src="{% static "img/gest_pacientes.png" %}" alt="Gestion de pacientes">
                    </a>
                </div>
                <div>
                    <a href="{%url 'menu-citas' %}">
                        <img width="190" src="{% static "img/gest_citas.png" %}" alt="Gestion de citas">
                    </a>
                </div>
                <div>
                    <a href="{%url 'menu-consultas' %}">
                        <img width="190" src="{% static "img/gest_consultas.png" %}" alt="Gestion de consultas">
                    </a>
                </div>
                <div>
                    <a href={%url 'menu-clinica' %}>
                        <img width="190" src="{% static "img/gest_clinica.png" %}" alt="Gestion de clínica">
                    </a>
                </div>
                
             </div>

        </section>

    {% endblock content %}
