<!-- MENU PACIENTES -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Pacientes</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <div class="div-cabecera-menu">Menú de Pacientes</div>

            <br/>

            <div class="div-cuerpo-menu">

                <div>
                    <a href={% url 'create-pacientes' %}>
                        <img width="200" src="{% static "img/menu_pacientes_create.png" %}" alt="Crear ficha">
                    </a>
                </div>
                <div>
                    <a href={% url 'select-pacientes' %}>
                        <img width="200" src="{% static "img/menu_pacientes_select.png" %}" alt="Seleccionar fichas">
                    </a>
                </div>
                <div>
                    <a href={% url 'edit-pacientes' %}>
                        <img width="200" src="{% static "img/menu_pacientes_edit.png" %}" alt="Editar paciente">
                    </a>
                </div>

            </div>

        </section>

    {% endblock content %}
