<!-- MENU CITAS -->

{% extends 'base.html' %}

    <!-- **************** -->
    <!-- Título de página -->
    <!-- **************** -->

    {% block title %}

    	<title>fixuSystem - Fisioterapia - Consultas</title>

    {% endblock title %}

    <!-- **************** -->
    <!-- Centro de página -->
    <!-- **************** -->

    {% block content %}

        {% load static %}

		<!-- Menú principal con imágenes -->
        <section class="sect-home-page-menu">

            <div class="div-cabecera-menu">Gestión de Consultas</div>

            <br/>

            <div class="div-cuerpo-menu">
                <div>
                    <a href={% url 'select-paciente-consultas' %}>
                        <img width="200" src="{% static "img/menu_cconsultas_crear.png" %}" alt="Crear ficha de consulta">
                    </a>
                </div>
                <div>
                    <a href={% url 'id-consultas' 1 %}>
                        <img width="200" src="{% static "img/menu_consultas_abrir.png" %}" alt="Abrir ficha de consulta">
                    </a>
                </div>
                <div>
                    <a href={% url 'edit-consultas' 1 %}>
                        <img width="200" src="{% static "img/menu_consultas_editar.png" %}" alt="Editar ficha de consulta">
                    </a>
                </div>
            </div>

        </section>

    {% endblock content %}
