{% extends 'base.html' %}

    {% block title %}

		<title>fixuSystem - Fisioterapia - LOGIN</title>

    {% endblock title %}

    {% block content %}

        <section class="sect-home-page-menu">

        {% load static %}

        <form method="POST">

		    {% csrf_token %}

            <table class="tbl-forms table-striped tbl-general tbl-30">

        	    <caption class="tbl-capt">IDENTIFICACION DE USUARIO/A</caption>

                {% for message in messages %}
                    <th colspan="2" style="text-align: center; font-family: serif; font-variant: small-caps; padding: 5px; color: white; background-color: rgb(224, 89, 36);">
                        {{ message }}
                    </th>
                {% endfor %}

                <tr>
                    <td class="tbl-td-der">{{ form.username.label }}</td>
                    <td>{{ form.username.as_widget }}</td>
                </tr>
                <tr>
                    <td class="tbl-td-der">{{ form.password.label }}</td>
                    <td>{{ form.password.as_widget }}</td>
                </tr>

            </table>

            <!-- Botones -->
            <div class="div-botones">
			    <input type="submit" class="btn btn-info" value="Enviar">
                <!-- Pasa el contexto "next" -->
                <input type="hidden" name="next" value="{{ next }}">
				<a href="{% url 'home-page' %}"><input type="button" class="btn btn-info" value="Cancelar"></a>
            </div>
            
	    </form>

        </section>

    {% endblock content %}
